= simple_form_for @move_type, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title, input_html: {style: 'height:30px;width: 500px;'}
  = f.input :body, input_html: {style: 'height:200px;width: 500px;'}
  = f.association :widgets, :as => :check_boxes

  =f.input :thumb_rating
  =f.input :star_rating
  =f.input :has_tomatoes
  =f.input :tomatoes_number, input_html: {style: 'height:30px;'}
  =f.input :make_my_day
  =f.input :make_my_sprint
  =f.input :has_twitter_idea
  =f.input :is_user_story


  
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t("helpers.links.cancel"), move_types_path, :class => 'btn'
