= simple_form_for @move_type, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :body
  = f.association :widgets, :as => :check_boxes

  =f.input :thumb_rating
  =f.input :star_rating
  =f.input :has_tomatoes
  
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t("helpers.links.cancel"), move_types_path, :class => 'btn'
