= simple_form_for @tomato, :html => { :class => 'form-horizontal' } do |f|
  = f.association :project, include_blank: false,  :selected => @project.id
  = f.input :title, input_html: {style: 'width:500px;height:30px;'}
  = f.input :body, :as => :ckeditor, :label => t("tomato.goal")
  = f.input :results, :as => :ckeditor, :label => t("tomato.result")
  = f.input :publish_date, :as => :string, input_html: {style: 'height:30px;'}
  -if @project.present?
    = f.association :user, :label => t("moves.links.owner"), :collection => @project.users
    = f.hidden_field :project_id, :value => @project.id
    -if @tomato.new_record?
      = f.association :users, :as => :check_boxes, :label => t("projects.team"), :checked => [current_user.id], :collection => @project.users
    -else
      = f.association :users, :as => :check_boxes, :label => t("projects.team"), :collection => @project.users
  -else
    = f.association :user, :label => t("moves.links.owner")
  -if !@tomato.new_record?
    = f.input :start_time, :input_html => {:onchange => "change_end()"}
    = f.input :end_time, :input_html => {:onchange => "change_start()"}
    = label_tag 'tomato_length', t('tomatoes.timer.length'), class: 'time optional control-label'
    = text_field_tag "tomato_length", nil, "value" => 25, "onChange" => "change_end()", "style" => "height:25px;width:5em;margin-left:1.56em;"
    = f.input :state, :collection =>  [["Undone", 0], ["Done", 2]], :as => :radio_buttons, item_wrapper_class: 'inline'
  -else
    = f.hidden_field :state, :value => 0
  -if @move_type.present?
    = f.hidden_field :move_type_id, :value => @move_type.id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
