= simple_form_for @tomato, :html => { :class => 'form-horizontal' } do |f|
  = f.association :project, include_blank: false,  :selected => @project.id
  = f.input :title, input_html: {style: 'width:500px;height:30px;'}
  = f.input :body, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => "mini"}}
  = f.input :publish_date, :as => :string, input_html: {style: 'height:30px;'}
  -if @project.present?
    = f.association :user, :label => t("moves.links.owner"), :collection => @project.users
  -else
    = f.association :user, :label => t("moves.links.owner")
  -if !@tomato.new_record?
    = f.input :start_time
    = f.input :end_time
    = f.input :state, :collection =>  [["Undone", 0], ["Done", 2]], :as => :radio_buttons, item_wrapper_class: 'inline'
  -else
    = f.hidden_field :state, :value => 0
  .form-actions
    = f.button :submit, :class => 'btn-primary'
