= simple_form_for @tomato, :html => { :class => 'form-horizontal' } do |f|
  = f.association :project, include_blank: false,  :selected => @project.id
  = f.input :title, input_html: {style: 'height:30px;width: 500px;'}
  = f.input :body
  = f.input :publish_date, :as => :string, input_html: {style: 'height:30px;'}
  = f.input :start_time
  = f.input :end_time
  = f.input :state, :collection =>  [["Undone", 0], ["Done", 2]], :as => :radio_buttons, item_wrapper_class: 'inline'
  = f.association :user
  .form-actions
    = f.button :submit, :class => 'btn-primary'
