= simple_form_for @tomato, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :body
  = f.input :publish_date, :as => :string
  = f.input :end_time
  = f.input :start_time
  = f.association :user
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t("moves.links.backtowork"), work_projects_path(:id => @project.id, :move_type => @move_type.id), :class => 'btn'
