  %h3 Timer
  %table
    %tr
      %td{:rowspan => 2}
        #counter_2
          .desc
      %td{:rowspan => 2}
        %div#countdown
      %td
        = button_tag "Start Timer", :id => "btoStart", :name => "los", :onClick => "start_me('#{@tomato.user.id}', '#{@tomato.user.name}', '#{@tomato.title}', '#{@tomato.id}')"
      %td{:rowspan => 2}
    %tr
      %td= text_field_tag "txtTimer", nil, "value" => 25, "style" => "height:12px;width:2em;"

  /mark as done button
  = simple_form_for @tomato, :html => { :class => 'form-horizontal' } do |f|
    = f.hidden_field :publish_date, :value => Date.today()
    = f.hidden_field :state, :value => 2
    = f.hidden_field :end_time
    = f.hidden_field :start_time
    .form-actions
      = f.button :submit, "Mark as done", :class => 'btn-primary'
