.panel.panel-primary
  .panel-heading
    %h2= @tomato.title
  .panel-body
    -if @tomato.move.present?
      = link_to t("moves.links.backtomove"), @tomato.move, :class => 'btn'
      = link_to t("moves.links.backtowork"), work_projects_path(:id => @project.id, :move_type => @move_type.id), :class => 'btn' if @project.present?
    -else
      = link_to t("moves.links.backtoplan"), plan_projects_path(:id => @project.id, :move_type => @move_type.id), :class => 'btn' if @project.present?
    - if (current_user.has_role? :admin) || (current_user.id == @move.user_id)
      = link_to t("helpers.links.edit"), edit_tomato_path(@tomato), :class => 'btn'
      = link_to t("helpers.links.destroy"), tomato_path(@tomato), :method => "delete", :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn btn-danger'
    .row
      .span6
        =raw(@tomato.body)
      .span4
        %h5="Owner: #{@tomato.user.name}" unless @tomato.user == nil
