.panel.panel-primary
  .panel-heading
    %h2= @tomato.title
  .panel-body
    -if @tomato.move.present?
      = link_to t("moves.links.backtomove"), @tomato.move, :class => 'btn'
      = link_to t("moves.links.backtowork"), work_projects_path(:id => @project.id, :move_type => @move_type.id), :class => 'btn' if @project.present?
    -else
      = link_to t("moves.links.backtoplan"), plan_projects_path(:id => @project.id, :move_type => @move_type.id), :class => 'btn' if @project.present?
    - if (current_user.has_role? :admin) || (current_user.id == @move.user_id)
      = link_to t("helpers.links.edit"), edit_tomato_path(@tomato), :class => 'btn'
      = link_to t("helpers.links.destroy"), tomato_path(@tomato), :method => "delete", :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn btn-danger'
    .row
      .span6
        =raw(@tomato.body)
      .span4
        %p
          %strong=t("moves.links.owner") + ": "
          ="#{@tomato.user.name}" if @tomato.user.present?
        %p
          %strong=t("tomato.publish_date") + ": "
          ="#{@tomato.publish_date}" if @tomato.publish_date
        %p
          %strong=t("tomato.start_time") + ": "
          ="#{@tomato.start_time}" if @tomato.start_time
        %p
          %strong=t("tomato.end_time") + ": "
          ="#{@tomato.end_time}" if @tomato.end_time
        %p
          %strong=t("moves.links.team") + ": "
          -@tomato.users.each do |usr|
            ="#{usr.name} - "
