.row
  .span4
    %h3
      Tomatoes
  .span7
    %p
      Filter users:
      -@users.each do |user|
        = link_to user.name, tomatoes_path(:user => user.id, :date => @date), :class => 'btn btn-mini btn-warning :active'

%hr
  
%div#tomatoes
  %h2#month
    = link_to "<", date: @date.prev_day, user: @user
    = link_to @date.strftime("%D"), date: @date, user: @user
    = link_to ">", date: @date.next_day, user: @user

  
=form_tag done_tomatoes_path, method: :put do
  =submit_tag "mark as done", :class => 'btn btn-mini'
  =submit_tag "plan today", :class => 'btn btn-mini'
  =submit_tag "unplan", :class => 'btn btn-mini'
  %br
  %br
  %table.table.table-striped
    %tr
      %th{:width => "20px;"}
      %th{:width => "20px;"}
      %th{:width => "250px;"} Title
      %th{:width => "150px;"} Pomodoro Story
      %th{:width => "100px;"} Owner
      %th{:width => "120px;"} Publish date
      %th{:width => "20px;"}
      %th{:width => "20px;"}
      %th{:width => "20px;"}

    - @tomatoes.each do |tomato|
      %tr
        %td= check_box_tag "tomatoes_ids[]", tomato.id
        %td 
          - if tomato.state == 1 #planed
            = image_tag("tomategruen.png", :width => 20, :height => 20)
          - elsif tomato.state == 2 #done
            = image_tag("tomaterot.png", :width => 20, :height => 20)
          - else
            = image_tag("tomategrau.png", :width => 20, :height => 20)

        %td= link_to tomato.title, tomato
        %td= link_to tomato.move.title, move_path(tomato.move_id) if tomato.move.present?
        %td= link_to tomato.user.name, tomatoes_path(:user => tomato.user.id, :date => @date)  unless tomato.user == nil
        %td= tomato.publish_date.to_s(:short) unless tomato.publish_date == nil
        %td= link_to 'Start', tomato, :class => 'btn btn-mini btn-success' unless tomato.state != 1
        %td= link_to 'Edi', edit_tomato_path(tomato), :class => 'btn btn-mini'
        %td= link_to 'X', tomato, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'

  

