- model_class = Tomato
.row
  .span8
    %h2= @tomato.title
    = link_to t("moves.links.backtowork"), work_projects_path(:id => @project.id, :move_type => @move_type.id), :class => 'btn'
    - if @tomato.user == current_user
      = link_to t("helpers.links.edit"), edit_tomato_path(@tomato), :class => 'btn'
      = link_to t("helpers.links.destroy"), tomato_path(@tomato), :method => "delete", :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn btn-danger'
    / todo Admin darf auch nicht bearbeiten
    %br
    %br
    =raw(@tomato.body)
  .span4
    %h5="Start time: #{@tomato.start_time.strftime("%H:%M")}" unless @tomato.start_time == nil
    %h5="End time: #{@tomato.end_time.strftime("%H:%M")}" unless @tomato.end_time == nil
    %h5="Owner: #{@tomato.user.name}" unless @tomato.user == nil
    
%hr

-if @tomato.state != 2
  %h3 Timer
  %table
    %tr
      %td{:rowspan => 2}
        #counter_2
          .desc
      %td{:rowspan => 2}
        %div#countdown
      %td
        = button_tag t("tomatoes.timer.start"), :id => "btoStart", :name => "los", :onClick => "start_me('#{@tomato.user.id}', '#{@tomato.user.name}', '#{@tomato.title}', '#{@tomato.id}', '#{t('tomatoes.timer.stop')}')"
      %td{:rowspan => 2}
    %tr
      %td= text_field_tag "txtTimer", nil, "value" => 25, "style" => "height:12px;width:2em;"
  %audio{:src => "/assets/monks.mp3", :id => "tomato_finished_id", :preload => "auto"}

  /mark as done button
  = simple_form_for @tomato, :html => { :class => 'form-horizontal' } do |f|
    = f.hidden_field :publish_date, :value => Date.today()
    = f.hidden_field :state, :value => 2
    = f.hidden_field :end_time
    = f.hidden_field :start_time
    .form-actions
      = f.button :submit, t("tomatoes.actions.markasdone"), :class => 'btn-primary'

  %hr

-if @tomato.state == 2 && !@tomato.rating.present?
  %h4= t("helpers.links.newtomatorating")
  %br
  %h5= t("tomatoes.rating.starrating")
  %fieldset.star_rating
    %input{:type => "radio", :id => "star5", :name => "rating", :value => "5", :onClick => "rate_me(5);"}
    %label{:for => "star5"} dummy
    %input{:type => "radio", :id => "star4", :name => "rating", :value => "4", :onClick => "rate_me(4);"}
    %label{:for => "star4"} dummy
    %input{:type => "radio", :id => "star3", :name => "rating", :value => "3", :onClick => "rate_me(3);"}
    %label{:for => "star3"} dummy
    %input{:type => "radio", :id => "star2", :name => "rating", :value => "2", :onClick => "rate_me(2);"}
    %label{:for => "star2"} dummy
    %input{:type => "radio", :id => "star1", :name => "rating", :value => "1", :onClick => "rate_me(1);"}
    %label{:for => "star1"} dummy
  %br
  %br
  %h5= t("tomatoes.rating.thumbrating")
  %table{:style => "height: 40px"}
    %tr
      %td{:style => "width: 40px"}
        %a{:href => "#", :onClick => "return thumb_it(1)"}
          = image_tag("daumenhoch.png", :id => "tomato_goal_up", :style => "height: 20px", :onMouseOver => "this.style='height: 30px'", :onMouseOut => "this.style='height: 20px'")
      %td
        %a{:href => "#", :onClick => "return thumb_it(0)"}
          = image_tag("daumenrunter.png", :id => "tomato_goal_down", :style => "height: 20px", :onMouseOver => "this.style='height: 30px'", :onMouseOut => "this.style='height: 20px'")
  %br
  %br
  %a{:href => "#", :onClick => "return show_comment()"}
    %b= t("tomatoes.rating.change")
  %br
  %br
  =simple_form_for [@tomato, Rating.new] do |f|
    #tom_change_inp{:style => "display:none"}
      = f.input :body, input_html: {style: 'height:100px; width:300px'}, :label => false
    = f.hidden_field :thumb_rating, :label => false
    /= f.input :star_rating, :label => t("tomatoes.rating.starrating"), :collection => 1..5, :as => :radio_buttons, item_wrapper_class: 'inline'
    /= f.input :body, :label => t("tomatoes.rating.change"), input_html: {style: 'height:100px; width:300px'}
    = f.hidden_field :star_rating, :value => "0"
    = f.hidden_field :user_id, :value => current_user.id
    = f.hidden_field :tomato_id, :value => @tomato.id
    .form-actions
      = f.button :submit, :class => 'btn-primary'
-elsif @tomato.rating.present?
  /show rating
  %h4= t("tomatoes.rating.showrating")
  %br

  -rating = @tomato.rating
  %p
    -if rating != nil
      = t("tomatoes.rating.thumbrating")
      -case rating.thumb_rating
        -when 0
          = image_tag("daumenrunter.png", :width => 20, :height => 20)
        -when 1
          = image_tag("daumenhoch.png", :width => 20, :height => 20)

  %p
    -if @tomato.rating != nil
      = t("tomatoes.rating.starrating")
      -case rating.star_rating
        -when -1
          = image_tag("kommentar.gif", :width => 20, :height => 20)
        -when 0
          = image_tag("daumenrunter.png", :width => 20, :height => 20)
        -else
          = rating.star_rating
          = image_tag("star.png", :width => 20, :height => 20)
  %p
    = t("tomatoes.rating.change")
    %blockquote
      =raw(rating.body)
  %p
    - if @tomato.user == current_user
      = link_to t("helpers.links.edit"), edit_rating_path(rating), :class => 'btn btn-mini'
      //= link_to t("helpers.links.destroy"), rating_path(rating), :method => :delete, :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn btn-mini btn-danger'
      %form{:action => tomato_path(:wppublish => "true"), :method => "get"}
        %select{:class => "multiselect", :multiple => "multiple", :name => "publish_to[]"}
          - @wp_blogs.each do |blog|
            %optgroup{:label => "#{blog}"}
              - @wp_categories[blog].each do |cat|
                %option{:value => "#{blog}!#{cat}"}
                  = cat
        %input{:type => "hidden", :value => "true", :name => "wppublish"}
        %input{:type => "submit", :value => t("helpers.wordpress.publish"), :class => "btn btn-mini"}

