- model_class = Tomato
.row
  .span8
    %h2= @tomato.title
    = link_to "Back to move", move_path(@tomato.move_id), :class => 'btn'
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_tomato_path(@tomato), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), tomato_path(@tomato), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
    %br
    %br
    =raw(@tomato.body)
  .span4
    %h5="Start time: #{@tomato.start_time}" unless @tomato.start_time == nil
    %h5="End time: #{@tomato.end_time}" unless @tomato.end_time == nil
    %h5="Owner: #{@tomato.user.name}" unless @tomato.user == nil
    
%hr


%h3 Timer

%div#countdown

%hr
  


%h4= "Interruptions"  
  
=simple_form_for [@tomato, Interruption.new] do |f| 
  .form-actions
    = f.input :body, input_html: {style: 'height:40px; width:400px'}, :label => "New Interruption"
    = f.hidden_field :user_id, :value => current_user.id
    = f.submit "Internal Interruption", :class => 'btn btn-primary', name: "interruption_type", value: "internal"
    = f.submit "External Interruption", :class => 'btn-danger', name: "interruption_type", value: "external"
    = f.submit "Comment", :class => 'btn', name: "interruption_type", value: "comment"
    

-@tomato.interruptions.each do |interruption|
  .row
    .span6
      %h6
        -if interruption.interruption_type == 0
          = image_tag("tomategruenstoerer.png", :width => 25, :height => 25)
          = " External interruption at #{interruption.created_at.to_s(:short)}" unless interruption.user == nil
        -elsif interruption.interruption_type == 1
          = image_tag("tomategruenstoerer.png", :width => 25, :height => 25)
          = " Internal interruption at #{interruption.created_at.to_s(:short)}" unless interruption.user == nil
        -elsif interruption.interruption_type == -1
          = image_tag("kommentar.gif", :width => 20, :height => 20) 
          = " Comment from #{interruption.user.name} at #{interruption.created_at.to_s(:short)}" unless interruption.user == nil
          
    .span4
      = link_to t('.edit', :default => t("helpers.links.edit")), edit_interruption_path(interruption), :class => 'btn btn-mini'
      = link_to t('.destroy', :default => t("helpers.links.destroy")), interruption_path(interruption), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'      
  .row
    .span10
      %blockquote
        =raw(interruption.body)
  %br
