= simple_form_for @state, :html => { :class => 'form-horizontal' } do |f|
  = f.input :body
  = f.input :position
  = f.input :title
  = f.input :visibility
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), states_path, :class => 'btn'
