.panel.panel-default
  .panel-heading
    %h4= t("helpers.actions")
  .panel-body
    .row
      .col-md-1
      .col-md-2
        - if (current_user.has_role? :admin) || (current_user.id == @move.user_id)
          -if @move.state == State.find_or_create_by_title(:title => "closed")
            = simple_form_for @move, :html => { :class => 'form-horizontal' } do |f|
              = f.hidden_field :state_id, :value => State.find_or_create_by_title(:title => "open").id
              = f.button :submit, :class => 'btn btn-info', :value=> t("moves.links.open")
          -else
            = simple_form_for @move, :html => { :class => 'form-horizontal' } do |f|
              = f.hidden_field :state_id, :value => State.find_or_create_by_title(:title => "closed").id
              = f.button :submit, :class => 'btn btn-info', :value=> t("moves.links.close")

      .col-md-2
        - if (current_user.has_role? :admin) || (current_user.id == @move.user_id)
          = link_to t("helpers.links.edit"), edit_move_path(@move), :class => 'btn'
          = link_to t("helpers.links.destroy"), move_path(@move), :method => "delete", :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn btn-danger'

