.input-group
  = simple_form_for @move, :html => { :class => 'form-horizontal' } do |f|
    .row
      .col-md-7
      .col-md-5
        -if @my_registration.present?
          =f.association :registration, :label => t("move.nominate"), :selected => @my_registration, :label_method => lambda { |registration| "#{registration.certification.label} (#{get_level_title(registration.certification.level_id)}) | #{registration.user.name}" }, input_html: {style: 'height:30px;width:280px;'}

    -if @project.present?
      - if  @move_type.present?
        = f.association :move_type, include_blank: false, :collection => @project.move_types, :selected => @move_type.id
      -else
        = f.association :move_type, include_blank: false, :collection => @project.move_types
      = f.association :project, include_blank: false
    -else
      = f.association :move_type, include_blank: false
      = f.association :project, include_blank: false
    -if @move.present? && @move.user_story_id.present?
      = f.association :user_story, :collection => @user_stories
    = f.input :title, input_html: {style: 'height:30px;width:500px;'}
    -if @move_type.present? && (@move_type.tomatoes_number == 1 || @move_type.has_twitter_idea) && @compositions.present?
      = f.association :mediums, as: :select, :input_html => { :multiple => false }, :label => t("moves.links.composition"), :collection => @compositions
    = f.input :body, :as => :ckeditor, :label => t("tomato.goal")
    = f.input :results, :as => :ckeditor, :label => t("tomato.result")
    - if @move_type.present? && @move_type.make_my_sprint
      -if @move.new_record?
        = f.input :start_date, :as => :string, input_html: {style: 'height:30px;', value: Date.today()}
      -else
        = f.input :start_date, :as => :string, input_html: {style: 'height:30px;'}
    -if @move.new_record?
      -if @date.present?
        = f.input :publish_date, :as => :string, input_html: {style: 'height:30px;', value: @date }
      -else
        = f.input :publish_date, :as => :string, input_html: {style: 'height:30px;', value: Date.today() }
    -else
      = f.input :publish_date, :as => :string, input_html: {style: 'height:30px;'}
    = f.association :category, :collection => Category.order("title ASC")
    -if @move.new_record? &&  @project.present?
      = f.association :user, :label => t("moves.links.owner"),  :selected =>  current_user.id, :collection => @project.users
      = f.association :users, :as => :check_boxes, :label => t("projects.team"), :checked => [current_user.id], :collection => @project.users
      = f.hidden_field :project_id, :value => @project.id
    -elsif @project.present?
      = f.association :user, :label => t("moves.links.owner"), :collection => @project.users
      = f.association :users, :as => :check_boxes, :label => t("projects.team"), :collection => @project.users
      = f.hidden_field :project_id, :value => @project.id
    -elsif @move.new_record?
      = f.association :user, :label => t("moves.links.owner"),  :selected =>  current_user.id
      = f.association :users, :as => :check_boxes, :label => t("projects.team"), :checked => [current_user.id]
    -else
      = f.association :user, :label => t("moves.links.owner")
      = f.association :users, :as => :check_boxes, :label => t("projects.team")
    -if @move.new_record?
      = f.hidden_field :state_id, :value => @state.id if @state.present?
    %p{:align => "center"}
      = link_to t("moves.team.select_all"), "javascript:select_all_team('move[user_ids][]', '#{t('moves.team.select_all')}', '#{t('moves.team.select_none')}');", :id => 'link_all_team', :class => 'btn'
    .form-actions
      -if @move.new_record?
        = text_field_tag "txtTomatoNo", nil, "value" => 1, "style" => "height:30px;width:3em;"
      = f.button :submit, :class => 'btn-primary'
      -if @project.present?
        = link_to "Cancel", work_projects_path(:id => @project.id, :move_type => @move_type.id), :class => 'btn'
      -else
        = link_to "Cancel", root_path, :class => 'btn'


