= simple_form_for @move, :html => { :class => 'form-horizontal' } do |f|
  = f.association :move_type, include_blank: false
  = f.input :title
  = f.input :body
  = f.input :publish_date
  = f.association :user
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), moves_path, :class => 'btn'
