.panel.panel-primary
  .panel-heading
    %h2= @move.title
  .panel-body
    .row
      .span7
        = link_to t("moves.links.backtoproject"), work_projects_path(:id => @project.id, :move_type => @move_type.id), :class => 'btn'
        - if current_user.has_role? :admin || current_user == @move.user
          = link_to t("helpers.links.edit"), edit_move_path(@move), :class => 'btn'
          = link_to t("helpers.links.destroy"), move_path(@move), :method => "delete", :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn btn-danger'
        %br
        %br
        %p=raw(@move.body)


      .span4
        %strong=t("moves.links.owner") + ": "
        ="#{@move.user.name}"
        %hr
        %strong=t("moves.links.movetype") + ": "
        ="#{@move.move_type.title}"
        %hr
        %strong=t("moves.links.state") + ": "
        ="#{@move.state.title}" if @move.state.present?
        %hr
        %strong=t("moves.links.team") + ": "
        -@move.users.each do |usr|
          ="#{usr.name} - "
        %hr
        %strong=t("moves.links.category") + ": "
        ="#{@move.category.title}" if @move.category.present?
        %hr

