.panel.panel-primary
  .panel-heading
    %h3= @move.title
  .panel-body
    .row
      .span7
        = link_to t("moves.links.backtoproject"), work_projects_path(:id => @project.id, :move_type => @move_type.id), :class => 'btn'
        - if (current_user.has_role? :admin) || (current_user.id == @move.user_id)  || (@move.users.include? current_user)
          = link_to t("helpers.links.edit"), edit_move_path(@move), :class => 'btn'
        %br
        %br
        %p=raw(@move.body)


      .span4
        %p
          %strong=t("moves.links.owner") + ": "
          ="#{@move.user.name}"
        %p
          %strong=t("moves.links.movetype") + ": "
          ="#{@move.move_type.title}"
        %p
          %strong=t("moves.links.state") + ": "
          ="#{@move.state.title}" if @move.state.present?
        %p
          %strong=t("moves.links.team") + ": "
          -@move.users.each do |usr|
            ="#{usr.name} - "
        %p
          %strong=t("moves.links.category") + ": "
          ="#{@move.category.title}" if @move.category.present?

