.panel.panel-primary
  .panel-heading
    %h3
      -if @move.tomatoes.present?
        = image_tag(tomato_icon_path(@tomato), :width => 30, :height => 30)
      =create_title(@move)
  .panel-body
    .row
      .span7
        %p
          %strong= t("helpers.links.backto")
          = link_to t("moves.links.backtosprint"), @sprint_move, :class => 'btn btn-info' if @sprint_move.present?
          = link_to t("moves.links.backtotodotoday"), @todotoday_move, :class => 'btn btn-info' if @todotoday_move.present?
          = link_to t("moves.links.backtouserstory"), @move.user_story, :class => 'btn btn-info' if @move.user_story.present?
          = link_to t("moves.links.backtoproject"), work_projects_path(:id => @project.id, :move_type => @move_type.id), :class => 'btn btn-info'
        %p
          - if default_edit_permissions(current_user, @move)
            = link_to t("helpers.links.edit"), edit_move_path(@move), :class => 'btn'
        %br
        %p
          %strong=t("tomato.goal") + ": "
          %i
            =raw(@move.body)
        %p
          %strong=t("tomato.result") + ": "
          %i
            =raw(@move.results)


      .span4
        %p
          %strong=t("moves.links.owner") + ": "
          ="#{@move.user.name}"
        %p
          %strong=t("moves.links.team") + ": "
          -@move.users.each do |usr|
            ="#{usr.name} - "
        %p
          %strong=t("moves.links.movetype") + ": "
          ="#{@move.move_type.title}"
        %p
          %strong=t("move.nominated")
          =link_to "#{@move.registration.certification.title}", registration_path(@move.registration, project_id: @project.id) if @move.registration.present?
        -if @move.start_date.present? && @move.publish_date.present?
          %p
            %strong=t("moves.links.duration") + ": "
            = " from #{@move.start_date.to_s(:short)} to #{@move.publish_date.to_s(:short)}"
        -elsif @move.publish_date.present?
          %p
            %strong=t("tomato.publish_date") + ": "  if @move.publish_date.present?
            ="#{@move.publish_date}" if @move.publish_date.present?
        %p
          %strong=t("moves.links.state") + ": "
          ="#{@move.state.title}" if @move.state.present?
        %p
          %strong=t("moves.links.category") + ": "
          ="#{@move.category.title}" if @move.category.present?
        -if @move_type.present? && @move_type.has_media &&  @move.mediums.count == 1
          -composition = @move.mediums.first
          %p
            %strong=t("moves.links.composition") + ": "
            = link_to composition.title, composition
