.panel.panel-primary
  .panel-heading
    %h3= @move.title
  .panel-body
    .row
      .span7
        %p
          %strong= t("helpers.links.backto")
          = link_to t("moves.links.backtosprint"), @sprint_move, :class => 'btn btn-info' if @sprint_move.present?
          = link_to t("moves.links.backtotodotoday"), @todotoday_move, :class => 'btn btn-info' if @todotoday_move.present?
          = link_to t("moves.links.backtouserstory"), @move.user_story, :class => 'btn btn-info' if @move.user_story.present?
          = link_to t("moves.links.backtoproject"), work_projects_path(:id => @project.id, :move_type => @move_type.id), :class => 'btn btn-info'
        %p
          - if (current_user.has_role? :admin) || (current_user.id == @move.user_id)  || (@move.users.include? current_user)
            = link_to t("helpers.links.edit"), edit_move_path(@move), :class => 'btn'
        %br
        %br
        %p=raw(@move.body)


      .span4
        %p
          %strong=t("moves.links.owner") + ": "
          ="#{@move.user.name}"
        %p
          %strong=t("moves.links.team") + ": "
          -@move.users.each do |usr|
            ="#{usr.name} - "
        %p
          %strong=t("moves.links.movetype") + ": "
          ="#{@move.move_type.title}"
        -if @move.start_date.present? && @move.publish_date.present?
          %p
            %strong=t("moves.links.duration") + ": "
            = " from #{@move.start_date.to_s(:short)} to #{@move.publish_date.to_s(:short)}"
        -elsif @move.publish_date.present?
          %p
            %strong=t("tomato.publish_date") + ": "  if @move.publish_date.present?
            ="#{@move.publish_date}" if @move.publish_date.present?
        %p
          %strong=t("moves.links.state") + ": "
          ="#{@move.state.title}" if @move.state.present?
        %p
          %strong=t("moves.links.category") + ": "
          ="#{@move.category.title}" if @move.category.present?

