.panel.panel-default
  .panel-heading
    %h4= t("helpers.links.ratings")
  .panel-body

    -if (@move.move_type.thumb_rating || @move.move_type.star_rating)
      -@move.ratings.each do |rating|
        .row
          .span6
            %h6
              -if @move.move_type.thumb_rating
                -case rating.thumb_rating
                  -when -2
                    = "Rating was skipped from #{rating.user.name} at #{rating.created_at.to_s(:short)}"
                  -when 0
                    = image_tag("daumenrunter.png", :width => 20, :height => 20)
                    = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}"
                  -when -1
                    = image_tag("kommentar.gif", :width => 20, :height => 20)
                    = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}"
                  -when 1
                    = image_tag("daumenhoch.png", :width => 20, :height => 20)
                    = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}"

              -if @move.move_type.star_rating
                -case rating.star_rating
                  -when -2
                    = "Rating was skipped from #{rating.user.name} at #{rating.created_at.to_s(:short)}"
                  -when -1
                    = image_tag("kommentar.gif", :width => 20, :height => 20)
                    = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}"
                  -when 0
                    = image_tag("daumenrunter.png", :width => 20, :height => 20)
                    = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}"
                  -else
                    = rating.star_rating
                    = image_tag("star.png", :width => 20, :height => 20)
                    = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}"
          .span4
            = link_to t("helpers.links.edit"), edit_rating_path(rating), :class => 'btn btn-mini'
            = link_to t("helpers.links.destroy"), rating_path(rating), :method => :delete, :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn btn-mini btn-danger'
          %br
        .row
          .span10
            %blockquote
              =raw(rating.body)

    -if @move.move_type.thumb_rating
      %h5= t("helpers.links.newthumbrating")
      %br

      =simple_form_for [@move, Rating.new] do |f|
        = f.input :body, input_html: {style: 'height:100px; width:300px'}
        = f.hidden_field :user_id, :value => current_user.id
        .form-actions
          = f.submit t("helpers.links.approve"), :class => 'btn btn-success', name: "approve_thumb_rating", value: "Approve"
          = f.submit t("helpers.links.reject"), :class => 'btn btn-danger', name: "reject_thumb_rating", value: "Reject"
          = f.submit t("helpers.links.comment"), :class => 'btn btn-info', name: "comment_thumb_rating", value: "Comment"

    %br
    %br


    -if @move.move_type.star_rating
      %h5= t("helpers.links.newstarrating")
      %br

      =simple_form_for [@move, Rating.new] do |f|
        = f.input :star_rating, :collection => 1..5, :as => :radio_buttons, item_wrapper_class: 'inline' unless @move.user == current_user
        = f.input :body, input_html: {style: 'height:100px; width:300px'}
        = f.hidden_field :user_id, :value => current_user.id
        .form-actions
          = f.button :submit, :class => 'btn-primary' unless @move.user == current_user
          = f.submit t("helpers.links.reject"), :class => 'btn btn-danger', name: "reject_star_rating" unless @move.user == current_user
          = f.submit t("helpers.links.comment"), :class => 'btn btn-info', name: "comment_star_rating", value: "Comment"

