.panel.panel-default
  .panel-heading
    %h4= t("moves.rating.thumbrating")
  .panel-body

    -if (@move.move_type.thumb_rating)
      -@move.ratings.each do |rating|
        -if rating.star_rating <0
          .row
            .span6
              %h6
                -if @move.move_type.thumb_rating
                  -case rating.thumb_rating
                    -when -2
                      = "Rating was skipped from #{rating.user.name} at #{rating.created_at.to_s(:short)}"
                    -when 0
                      = image_tag("daumenrunter.png", :width => 20, :height => 20)
                      = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}"
                    -when -1
                      = image_tag("kommentar.gif", :width => 20, :height => 20)
                      = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}"
                    -when 1
                      = image_tag("daumenhoch.png", :width => 20, :height => 20)
                      = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}"
            .span4
              = link_to t("helpers.links.edit"), edit_rating_path(rating), :class => 'btn btn-mini'
              = link_to t("helpers.links.destroy"), rating_path(rating), :method => :delete, :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn btn-mini btn-danger'
            %br
          .row
            .span10
              %blockquote
                =raw(rating.body)

    -if @move.move_type.thumb_rating && !@move.thumb_rating_by(current_user)
      %h5= t("helpers.links.newthumbrating")
      %br

      =simple_form_for [@move, Rating.new] do |f|
        = f.hidden_field :user_id, :value => current_user.id
        .form-actions
          = f.submit t("helpers.links.approve"), :class => 'btn btn-success', name: "approve_thumb_rating", value: "Approve"
          = f.submit t("helpers.links.reject"), :class => 'btn btn-danger', name: "reject_thumb_rating", value: "Reject"

