//there are two views for this widget:
//1) Wenn I am part of the team: I can start the timer, mark the tomato as done and set the start and end time
//2) Wenn I am not part of the team: I just can see the publish date, start and end time
.panel.panel-default
  .panel-heading
    %h3.panel-title= t("tomatoes.timer.timer")
  .panel-body
    -if @tomato != nil && (@tomato.move.users.include? current_user || @tomato.move.user == current_user)
      .row
        -if @tomato.state != 2
          .span3
            #counter_2
              .desc
          .span2
            %div#countdown
            = button_tag t("tomatoes.timer.start"), :class => "btn btn-default btn-sm", :id => "btoStart", :name => "los", :onClick => "start_me('#{@tomato.user.id}', '#{@tomato.user.name}', '#{@tomato.title}', '#{@tomato.id}', '#{t('tomatoes.timer.stop')}')"
          .span1
            = text_field_tag "txtTimer", nil, "value" => 25, "style" => "height:30px;width:3em;"
      %audio{:src => "/assets/monks.mp3", :id => "tomato_finished_id", :preload => "auto"}

      %br
      %br

      .row
        .span8

          /mark as done button
          = simple_form_for @tomato, :html => { :class => 'form-horizontal' } do |f|
            = f.hidden_field :publish_date, :value => Date.today()
            - if @tomato.state == 3 # extra unplanned
              = f.hidden_field :state, :value => 4 #extra done
            -else
              = f.hidden_field :state, :value => 2
            -if @tomato.state != 2
              = f.hidden_field :start_time
              = f.hidden_field :end_time
              = f.button :submit, t("tomatoes.actions.markasdone"), :class => 'btn-primary'
            -else
              = f.input :start_time
              = f.input :end_time
              = f.button :submit
    -else
      %p= t("tomato.publish_date") + ": "+ @tomato.publish_date.to_s
      %p= t("tomato.start_time") + ": "+ @tomato.start_time.to_s
      %p= t("tomato.end_time") + ": "+ @tomato.end_time.to_s