-if @move.move_type.has_tomatoes
  .panel.panel-default
    .panel-heading
      %h4= t("tomatoes.list")
    .panel-body
      %br
      %br
      %table.table.table-striped
        %tr
          %th{:width => "20px;"}
          %th{:width => "200px;"} Title
          %th{:width => "80px;"} Owner
          %th{:width => "120px;"} Team
          %th{:width => "120px;"} Publish date
          %th{:width => "40px;"} Actions

        - @move.tomatoes.each do |tomato|
          %tr
            %td
              = image_tag(tomato_icon_path(tomato), :width => 20, :height => 20)
            %td= link_to tomato.title, tomato
            %td= tomato.user.name unless tomato.user == nil
            %td
              - tomato.users.each do |user|
                = user.name if user.name.present?
            %td= tomato.publish_date.to_s(:short) unless tomato.publish_date == nil
            %td
              = link_to t("helpers.links.edit"), edit_tomato_path(tomato), :class => 'btn btn-mini'
              = link_to t("helpers.links.destroy"), tomato, :method => :delete, :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn btn-mini btn-danger'

      -if @move.move_type.make_my_day
        %h5= t("projects.newtomato")
        =simple_form_for [@move, Tomato.new] , :html => { :class => 'form-horizontal' } do |f|
          = f.hidden_field :state, :value => 3 # extra tomato
          = f.hidden_field :move_id, :value => @move.id
          = f.hidden_field :project_id, :value => @project.id
          = f.hidden_field :publish_date, :value => @move.publish_date if @move.publish_date.present?
          = f.hidden_field :user_id, :value => current_user.id
          .form-actions
            = f.input :title, label: t("projects.title"), input_html: {style: 'width:500px;height:30px;'}
            = f.association :users, :as => :check_boxes, :label => t("projects.team"), :checked => [current_user.id], :collection => @project.users
            = f.button :submit, :class => 'btn-primary'