-if @move.move_type.has_tomatoes
  .panel.panel-default
    .panel-heading
      %h4= t("tomatoes.list")
    .panel-body
      %br
      %br
      %table.table.table-striped
        %tr
          %th{:width => "20px;"}
          %th{:width => "200px;"} Title
          %th{:width => "80px;"} Owner
          %th{:width => "120px;"} Team
          %th{:width => "120px;"} Publish date
          %th{:width => "40px;"} Actions

        - @tomato_moves.each do |tomato_move|
          %tr
            %td
              = image_tag(tomato_icon_path_at_move(tomato_move, @move), :width => 20, :height => 20)
            %td= link_to tomato_move.title, tomato_move
            %td= tomato_move.user.name unless tomato_move.user == nil
            %td
              - tomato_move.users.each do |user|
                = user.name if user.name.present?
            %td= tomato_move.publish_date.to_s(:short) unless tomato_move.publish_date == nil
            %td
              /mark as done button
              -if tomato_move.state != 2 && tomato_move.state != 4
                =form_tag markasdone_tomatoes_path, method: :put do
                  =hidden_field_tag :move_id, @move.id
                  =hidden_field_tag :tomato_id, tomato_move.id
                  =submit_tag t("tomatoes.actions.markasdone"), :class => 'btn btn-mini'

      -if @move.move_type.make_my_day && @move.state != State.find_by_title("planned")
        = simple_form_for @move, :html => { :class => 'form-horizontal' } do |f|
          = f.hidden_field :state_id, :value => State.find_or_create_by_title(:title => "planned").id
          = f.button :submit, :class => 'btn btn-warning', :value=> t("moves.links.makemyday"), :style=> 'float: left;'
      -elsif @move.move_type.make_my_sprint && @move.state != State.find_by_title("planned")
        = simple_form_for @move, :html => { :class => 'form-horizontal' } do |f|
          = f.hidden_field :state_id, :value => State.find_or_create_by_title(:title => "planned").id
          = f.button :submit, :class => 'btn btn-warning', :value=> t("moves.links.makemysprint"), :style=> 'float: left;'

      -if @move_type.is_user_story
        = link_to t("projects.newmove"), new_move_path(project_id: @project.id, date: @move.publish_date, user_story_id: @move.id), :class => 'btn btn-primary', :type => "button"
      -elsif @move_type.make_my_day
        = link_to t("projects.newmove"), new_move_path(project_id: @project.id, date: @move.publish_date), :class => 'btn btn-primary', :type => "button"
      -elsif @move_type.make_my_sprint
        = link_to t("projects.newmove"), new_move_path(project_id: @project.id, date: @move.publish_date), :class => 'btn btn-primary', :type => "button"


