%h1 Moves
= link_to 'New Move', new_move_path, :class => 'btn btn-primary'

- @states.each do |state|
  %h3= state.title
  
  =form_tag move_moves_path, method: :put do
    =hidden_field_tag "move_id", state.id
    ="move to: "
    - @states.each do |other_state|
      -if other_state != state 
        =submit_tag other_state.title, :class => 'btn btn-mini'
    %br
    %table.table.table-striped
      %tr
        %th
        %th
        %th Title
        %th Author
        %th Reviewers
        %th Move type
        %th Created at
        %th
        %th

      - @moves.by_state_id(state.id).each do |move|
        %tr
          %td= check_box_tag "moves_ids[]", move.id
          %td
            -total=0; no_ups=0; no_downs=0; no_comments =0;
            -count = move.ratings.count
            -if move.move_type.thumb_rating
              -move.ratings.each do |rating|
                -case rating.thumb_rating
                -when 1
                  -no_ups=no_ups+1
                -when 0
                  -no_downs=no_downs+1
                -when -1
                  -no_comments = no_comments+1 
              - if no_downs > 0
                =link_to image_tag("verloren.png", :width => 25, :height => 25)
              - else
                -if no_ups >= 2
                  =link_to image_tag("gewonnen.png", :width => 25, :height => 25)
                -else
                  =link_to image_tag("bewerten.png", :width => 25, :height => 25)
            -elsif move.move_type.star_rating
              -move.ratings.each do |rating|
                -total = total + rating.star_rating unless rating.star_rating == nil 
              - if total.to_f/count.to_f >= 4.0 && count >= 2
                =link_to image_tag("gewonnen.png", :width => 25, :height => 25)
              - else
                -if count >=2
                  =link_to image_tag("verloren.png", :width => 25, :height => 25)
                -else
                  =link_to image_tag("bewerten.png", :width => 25, :height => 25)
            -elsif move.move_type.has_tomatoes
              -if move.tomatoes.count == 0
                =link_to image_tag("tomategrau.png", :width => 15, :height => 15)
              -move.tomatoes.each do |tomato|
                -case tomato.state
                -when 0
                  =link_to image_tag("tomategrau.png", :width => 15, :height => 15)
                -when 1
                  =link_to image_tag("tomategruen.png", :width => 15, :height => 15)
                -when 2 
                  =link_to image_tag("tomaterot.png", :width => 15, :height => 15)
                
          %td= link_to move.title, move
          %td= link_to move.user.name, moves_path(:user => move.user.id)
          %td
            -move.users.each do |reviewer|
              ="#{reviewer.name} "
          %td= link_to move.move_type.title, moves_path(:move_type => move.move_type.id)
          %td= move.created_at.to_s(:short)
          %td= link_to 'Edit', edit_move_path(move), :class => 'btn btn-mini'
          %td= link_to 'X', moves_path, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'

    %br
    

= link_to 'New Move', new_move_path, :class => 'btn btn-primary'
