- model_class = Move
.page-header
  %h1=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize
= simple_form_for @move, :html => { :class => 'form-horizontal' } do |f|
  = f.association :move_type, include_blank: false
  = f.input :title, input_html: {style: 'width:500px;'}
  = f.input :body, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => "mini"}}
  = f.input :publish_date, :as => :string
  = f.association :user, :label => "Owner",  :selected =>  current_user.id
  = f.association :users, :as => :check_boxes, :label => "Team", :checked => [current_user.id]
  = f.hidden_field :project_id, :value => @project.id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to "Cancel", work_projects_path(:id => @project.id), :class => 'btn'
    
