- model_class = Move
.row
  .span8
    %h2= @move.title
    = link_to "Back to Project", work_projects_path(:id => @project.id), :class => 'btn'
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_move_path(@move), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), move_path(@move), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
  .span4
    %h5="Move type: #{@move.move_type.title}" 
    %h5="Owner: #{@move.user.name}"
.row
  .span8
    %br 
    %p=raw(@move.body)

%hr

%br
  
-if @move.move_type.has_tomatoes
  %h3= "Tomatoes"

  =form_tag done_tomatoes_path, method: :put do
    =hidden_field_tag "move_id", @move.id
    =submit_tag "mark as done", :class => 'btn btn-mini'
    =submit_tag "plan today", :class => 'btn btn-mini'
    =submit_tag "unplan", :class => 'btn btn-mini'
    %br
    %br
    %table.table.table-striped
      %tr
        %th{:width => "20px;"}
        %th{:width => "20px;"}
        %th{:width => "250px;"} Title
        %th{:width => "100px;"} Owner
        %th{:width => "100px;"} Interruptions
        %th{:width => "120px;"} Publish date
        %th{:width => "20px;"}
        %th{:width => "20px;"}
        %th{:width => "20px;"}

      - @move.tomatoes.each do |tomato|
        %tr
          %td= check_box_tag "tomatoes_ids[]", tomato.id
          %td 
            - if tomato.state == 0 # not planed
              = image_tag("tomategrau.png", :width => 20, :height => 20)
            - elsif tomato.state == 1 #planed
              = image_tag("tomategruen.png", :width => 20, :height => 20)
            - elsif tomato.state == 2 #done
              = image_tag("tomaterot.png", :width => 20, :height => 20)
          %td= link_to tomato.title, tomato
          %td= tomato.user.name unless tomato.user == nil
          %td
            -internal=0; external=0; comments=0;
            -tomato.interruptions.each do |interruption|
              -case interruption.interruption_type
                -when 0
                  -external=external+1
                -when 1
                  -internal=internal+1
                -when -1
                  -comments=comments+1
            -if external > 0
              = "#{external}"
              = image_tag("tomategruenstoerer.png", :width => 20, :height => 20)
            -if internal > 0
              = "#{internal}"
              = image_tag("tomategruenstoerer.png", :width => 20, :height => 20)
            -if comments > 0
              = "#{comments}"
              = image_tag("kommentar.gif", :width => 15, :height => 15)
            
          %td= tomato.publish_date.to_s(:short) unless tomato.publish_date == nil
          %td= link_to 'Start', tomato, :class => 'btn btn-mini btn-success' unless tomato.state != 1
          %td= link_to 'Edit', edit_tomato_path(tomato), :class => 'btn btn-mini'
          %td= link_to 'X', tomato, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'


  =simple_form_for [@move, Tomato.new] do |f| 
    = f.hidden_field :state, :value => 0
    = f.hidden_field :move_id, :value => @move.id
    .form-actions
      = f.input :title, input_html: {style: 'width:300px'}, label: "Title"
      = f.input :publish_date, :as => :string
      = f.association :user, :as => :check_boxes, :label => "Owners", :checked => [current_user.id]
      = f.button :submit, :class => 'btn-primary'
  
  %hr
  
  

-if @move.move_type.thumb_rating || @move.move_type.star_rating
  %h4= "Ratings" 
  -@move.ratings.each do |rating|
    .row
      .span6
        %h6
          -if @move.move_type.thumb_rating
            -case rating.thumb_rating
              -when 0
                = image_tag("daumenrunter.png", :width => 20, :height => 20)
                = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}"  
              -when -1
                = image_tag("kommentar.gif", :width => 20, :height => 20) 
                = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}"  
              -when 1
                = image_tag("daumenhoch.png", :width => 20, :height => 20)
                = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}"   
          
          -if @move.move_type.star_rating
            -case rating.star_rating
              -when -1
                = image_tag("kommentar.gif", :width => 20, :height => 20) 
                = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}"  
              -when 0
                = image_tag("daumenrunter.png", :width => 20, :height => 20)
                = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}"  
              -else
                = rating.star_rating
                = image_tag("star.png", :width => 20, :height => 20)
                = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}" 
      .span4
        = link_to t('.edit', :default => t("helpers.links.edit")), edit_rating_path(rating), :class => 'btn btn-mini'
        = link_to t('.destroy', :default => t("helpers.links.destroy")), rating_path(rating), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'      
      %br
    .row
      .span10
        %blockquote
          =raw(rating.body)
    %hr
  
  



-if @move.move_type.thumb_rating
  %h5= "Create New Thumb Rating"  
  %br
  
  =simple_form_for [@move, Rating.new] do |f| 
    = f.input :body, input_html: {style: 'height:100px; width:300px'}
    = f.hidden_field :user_id, :value => current_user.id
    .form-actions
      = f.submit "Approve", :class => 'btn btn-primary', name: "thumb_rating", value: "Approve"
      = f.submit "Reject", :class => 'btn btn-danger', name: "thumb_rating", value: "Reject"
      = f.submit "Comment", :class => 'btn btn-info', name: "thumb_rating", value: "Comment"

%br
%br
%hr


-if @move.move_type.star_rating
  %h5= "Create New Star Rating"  
  %br
  
  =simple_form_for [@move, Rating.new] do |f| 
    = f.input :star_rating, :collection => 1..5, :as => :radio_buttons, item_wrapper_class: 'inline'
    = f.input :body, input_html: {style: 'height:100px; width:300px'}
    = f.hidden_field :user_id, :value => current_user.id
    .form-actions
      = f.button :submit, :class => 'btn-primary'
      = f.submit "Reject", :class => 'btn btn-danger', name: "star_rating", value: "Reject"


