- model_class = Move
.row
  .span8
    %h2= @move.title
    = link_to t('.back', :default => t("helpers.links.back")), moves_path, :class => 'btn'
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_move_path(@move), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), move_path(@move), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
    =raw(@move.body)
  .span4
    %h5="Move type: #{@move.move_type.title}" 
    %h5="Owner: #{@move.user.name}"

%hr

%h3= "Tomatoes"
  
%br
  
-if @move.move_type.has_tomatoes
  =form_tag done_tomatoes_path, method: :put do
    =hidden_field_tag "move_id", @move.id
    =submit_tag "mark as done"
    =submit_tag "plan today"
    =submit_tag "unplan"
    
    %table.table.table-striped
      %tr
        %th
        %th
        %th Title
        %th Owner
        %th Created at
        %th
        %th

      - @move.tomatoes.each do |tomato|
        %tr
          %td= check_box_tag "tomatoes_ids[]", tomato.id
          %td 
            - if tomato.state == 0 # not planed
              = image_tag("tomategrau.png", :width => 20, :height => 20)
            - elsif tomato.state == 1 #planed
              = image_tag("tomategruen.png", :width => 20, :height => 20)
            - elsif tomato.state == 2 #done
              = image_tag("tomaterot.png", :width => 20, :height => 20)
          %td= link_to tomato.title, tomato
          %td= tomato.user.name
          %td= tomato.created_at
          /%td= tomato.start_time
          /%td= tomato.end_time
          /%td= link_to 'Show', tomato
          %td= link_to 'Edit', edit_tomato_path(tomato), :class => 'btn btn-mini'
          %td= link_to 'X', tomato, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'


  =simple_form_for [@move, Tomato.new] do |f| 
    /= f.input :body, input_html: {style: 'height:100px; width:300px'}
    = f.hidden_field :state, :value => 0
    = f.hidden_field :move_id, :value => @move.id
    .form-actions
      = f.input :title, input_html: {style: 'width:300px'}, label: "create new tomato"
      = f.association :user, :label => "Owner",  :default => current_user.id
      = f.button :submit, :class => 'btn-primary'
  
  %hr
