- model_class = Move
.row
  .span8
    %h2= @move.title
    = link_to t("moves.links.backtoproject"), work_projects_path(:id => @project.id), :class => 'btn'
    = link_to t("helpers.links.edit"), edit_move_path(@move), :class => 'btn'
    = link_to t("helpers.links.destroy"), move_path(@move), :method => "delete", :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn btn-danger'
  .span4
    %h5=t("moves.links.movetype") + " #{@move.move_type.title}"
    %h5=t("moves.links.owner2") + " #{@move.user.name}"
.row
  .span8
    %br 
    %p=raw(@move.body)

%hr

%br
  
-if @move.move_type.has_tomatoes
  %h3= "Tomatoes"

  =form_tag done_tomatoes_path, method: :put do
    =hidden_field_tag t("moves.links.moveid"), @move.id
    =submit_tag t("helpers.links.mark"), :class => 'btn btn-mini'
    =submit_tag t("helpers.links.plan"), :class => 'btn btn-mini'
    =submit_tag t("helpers.links.unplan"), :class => 'btn btn-mini'
    %br
    %br
    %table.table.table-striped
      %tr
        %th{:width => "20px;"}
        %th{:width => "20px;"}
        %th{:width => "250px;"} Title
        %th{:width => "100px;"} Owner
        %th{:width => "120px;"} Publish date
        %th{:width => "20px;"}
        %th{:width => "20px;"}
        %th{:width => "20px;"}

      - @move.tomatoes.each do |tomato|
        %tr
          %td= check_box_tag "tomatoes_ids[]", tomato.id
          %td 
            - if tomato.state == 0 # not planed
              = image_tag("tomategrau.png", :width => 20, :height => 20)
            - elsif tomato.state == 1 #planed
              = image_tag("tomategruen.png", :width => 20, :height => 20)
            - elsif tomato.state == 2 #done
              = image_tag("tomaterot.png", :width => 20, :height => 20)
          %td= link_to tomato.title, tomato
          %td= tomato.user.name unless tomato.user == nil
          %td= tomato.publish_date.to_s(:short) unless tomato.publish_date == nil
          %td= link_to t("helpers.links.start"), tomato, :class => 'btn btn-mini btn-success' unless tomato.state != 1
          %td= link_to t("helpers.links.edit"), edit_tomato_path(tomato), :class => 'btn btn-mini'
          %td= link_to t("helpers.links.destroy"), tomato, :method => :delete, :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn btn-mini btn-danger'


  =simple_form_for [@move, Tomato.new] do |f| 
    = f.hidden_field :state, :value => 0
    = f.hidden_field :move_id, :value => @move.id
    .form-actions
      = f.input :title, input_html: {style: 'width:300px'}, label: t("projects.title")
      = f.input :publish_date, :as => :string
      = f.association :user, :as => :check_boxes, :label => t("moves.links.owner3"), :checked => [current_user.id]
      = f.button :submit, :class => 'btn-primary'
  
  %hr
  
  

-if (@move.move_type.thumb_rating || @move.move_type.star_rating)
  %h4= t("helpers.links.ratings")
  -@move.ratings.each do |rating|
    .row
      .span6
        %h6
          -if @move.move_type.thumb_rating
            -case rating.thumb_rating
              -when -2
                = "Rating was skipped from #{rating.user.name} at #{rating.created_at.to_s(:short)}"
              -when 0
                = image_tag("daumenrunter.png", :width => 20, :height => 20)
                = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}"  
              -when -1
                = image_tag("kommentar.gif", :width => 20, :height => 20) 
                = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}"  
              -when 1
                = image_tag("daumenhoch.png", :width => 20, :height => 20)
                = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}"   
          
          -if @move.move_type.star_rating
            -case rating.star_rating
              -when -2
                = "Rating was skipped from #{rating.user.name} at #{rating.created_at.to_s(:short)}"
              -when -1
                = image_tag("kommentar.gif", :width => 20, :height => 20) 
                = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}"  
              -when 0
                = image_tag("daumenrunter.png", :width => 20, :height => 20)
                = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}"  
              -else
                = rating.star_rating
                = image_tag("star.png", :width => 20, :height => 20)
                = " from #{rating.user.name} at #{rating.created_at.to_s(:short)}" 
      .span4
        = link_to t("helpers.links.edit"), edit_rating_path(rating), :class => 'btn btn-mini'
        = link_to t("helpers.links.destroy"), rating_path(rating), :method => :delete, :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn btn-mini btn-danger'
      %br
    .row
      .span10
        %blockquote
          =raw(rating.body)
    %hr
  
  



-if @move.move_type.thumb_rating && @move.user_id != current_user.id
  %h5= t("helpers.links.newthumbrating")
  %br
  
  =simple_form_for [@move, Rating.new] do |f| 
    = f.input :body, input_html: {style: 'height:100px; width:300px'}
    = f.hidden_field :user_id, :value => current_user.id
    .form-actions
      = f.submit t("helpers.links.approve"), :class => 'btn btn-success', name: "thumb_rating", value: "Approve"
      = f.submit t("helpers.links.reject"), :class => 'btn btn-danger', name: "thumb_rating", value: "Reject"
      = f.submit t("helpers.links.comment"), :class => 'btn btn-info', name: "thumb_rating", value: "Comment"

%br
%br
%hr


-if @move.move_type.star_rating && @move.user_id != current_user.id
  %h5= t("helpers.links.newstarrating")
  %br
  
  =simple_form_for [@move, Rating.new] do |f| 
    = f.input :star_rating, :collection => 1..5, :as => :radio_buttons, item_wrapper_class: 'inline'
    = f.input :body, input_html: {style: 'height:100px; width:300px'}
    = f.hidden_field :user_id, :value => current_user.id
    .form-actions
      = f.button :submit, :class => 'btn-primary'
      = f.submit t("helpers.links.reject"), :class => 'btn btn-danger', name: "reject_star_rating"


