.row
  .col-md-6
    %ol.breadcrumb
      %li
        =link_to @project.title, "#"
      %li
        - if page == "work"
          =link_to t("projects.work"), work_projects_path
        - else
          =link_to t("projects.report"), report_projects_path
      %li.active= @move_type.title
  .col-md-4
    = link_to t("projects.newmove"), new_move_path(project_id: @project.id, move_type: @move_type.id), :class => 'btn btn-primary'
  .col-md-2
    - if page == "work"
      .btn-group
        = link_to t("projects.work"), work_projects_path(id: @project.id, date: @date, move_type: @move_type.id), :class => "btn btn-default active"
        = link_to t("projects.report"), report_projects_path(id: @project.id, move_type: @move_type.id), :class=> "btn btn-default"

    -else
      .btn-group
        = link_to t("projects.work"), work_projects_path(id: @project.id, date: @date, move_type: @move_type.id), :class => "btn btn-default"
        = link_to t("projects.report"), report_projects_path(id: @project.id, move_type: @move_type.id), :class=> "btn btn-default active"
