.row
  .col-md-6
    %ol.breadcrumb
      %li
        =@project.title
      %li
        - if page == "work"
          =t("projects.work")
        - elsif  page == "report"
          =t("projects.report")
        - elsif  page == "plan"
          =t("projects.plan")
      %li.active= @move_type.title
  .col-md-3
    - if page == "plan"
      = link_to t("projects.newtomato"), new_tomato_path(project_id: @project.id, move_type: @move_type.id), :class => 'btn btn-primary'
    - else
      = link_to t("projects.newmove"), new_move_path(project_id: @project.id, move_type: @move_type.id), :class => 'btn btn-primary', :type => "button"
  .col-md-3
    - if page == "work"
      .btn-group
        = link_to t("projects.plan"), plan_projects_path(id: @project.id, date: @date, move_type: @move_type.id), :class => "btn btn-default" if has_plan_view(@project)
        = link_to t("projects.work"), work_projects_path(id: @project.id, date: @date, move_type: @move_type.id), :class => "btn btn-default active"
        = link_to t("projects.report"), report_projects_path(id: @project.id, move_type: @move_type.id), :class=> "btn btn-default"

    -elsif page == "report"
      .btn-group
        = link_to t("projects.plan"), plan_projects_path(id: @project.id, date: @date, move_type: @move_type.id), :class => "btn btn-default" if has_plan_view(@project)
        = link_to t("projects.work"), work_projects_path(id: @project.id, date: @date, move_type: @move_type.id), :class => "btn btn-default"
        = link_to t("projects.report"), report_projects_path(id: @project.id, move_type: @move_type.id), :class=> "btn btn-default active"
    -else
      .btn-group
        = link_to t("projects.plan"), plan_projects_path(id: @project.id, date: @date, move_type: @move_type.id), :class => "btn btn-default active" if has_plan_view(@project)
        = link_to t("projects.work"), work_projects_path(id: @project.id, date: @date, move_type: @move_type.id), :class => "btn btn-default"
        = link_to t("projects.report"), report_projects_path(id: @project.id, move_type: @move_type.id), :class=> "btn btn-default"

