.row
  .span10
    %ol.breadcrumb
      %li
        =link_to @project.title, "#"
      %li
        =link_to "work", work_projects_path
      %li.active= @move_type.title
  .span2
    - if page == "work"
      .btn-group
        %button.btn.btn-default.active{:type => "button"}
          = link_to t("projects.work"), work_projects_path(id: @project.id, date: @date, move_type: @move_type.id)
        %button.btn.btn-default{:type => "button"}
          = link_to t("projects.report"), report_projects_path(id: @project.id, move_type: @move_type.id)

    -else
      .btn-group
        %button.btn.btn-default{:type => "button"}
          = link_to t("projects.work"), work_projects_path(id: @project.id, date: @date, move_type: @move_type.id)
        %button.btn.btn-default.active{:type => "button"}
          = link_to t("projects.report"), report_projects_path(id: @project.id, move_type: @move_type.id)
