.row
  .col-md-8
  .col-md-2
    -if @actual_sprint.present?
      = simple_form_for @actual_sprint, :html => { :class => 'form-horizontal' } do |f|
        = f.hidden_field :state_id, :value => State.find_or_create_by_title(:title => "planned").id
        = f.button :submit, :class => 'btn btn-warning', :value=> t("moves.links.makemysprint"), :style=> 'float: right;'
  .col-md-2
    -if @project.has_make_my_day()
      = link_to t("moves.links.makemyday"), new_move_path(project_id: @project.id, move_type: @move_type.id, make_my_day: true, state: "planned"), :class => 'btn btn-warning',:style=> 'float: left;'


%h5= t("moves.links.todotoday").upcase
=form_tag sendto_tomatoes_path, method: :put do
  =t("helpers.links.send")+":"
  =hidden_field_tag :move_type_id, @move_type.id
  =hidden_field_tag :project_id, @project.id
  =submit_tag t("moves.links.currentsprint"), :name=> "move_to_cur_sprint", :class => 'btn btn-mini' if @actual_sprint.present?
  =submit_tag t("moves.links.activityinventory"), :name=> "move_to_act_inv", :class => 'btn btn-mini'

  %br
  %br
  %table.table.table-striped
    %tr
      %th{:width => "30px;"}
      %th{:width => "50px;"}
      %th{:width => "200px;"} Title
      %th{:width => "100px;"} Owner
      %th{:width => "80px;"} Publish date
    -if @todo_today_tomatoes.present?
      - @todo_today_tomatoes.each do |tomato|
        %tr
          %td= check_box_tag "tomato_ids[]", tomato.id
          %td
            = image_tag(tomato_icon_path(tomato), :width => 20, :height => 20)
          %td= link_to create_title(tomato.move), tomato.move if tomato.move.present?
          %td= tomato.user.name
          %td= tomato.publish_date.to_s(:short) unless tomato.publish_date == nil



%hr


-if @actual_sprint.present?
  %h5
    = "CURRENT SPRINT: "
    = link_to @actual_sprint.title, @actual_sprint
    = " (from #{@actual_sprint.start_date.to_s(:short)} to #{@actual_sprint.publish_date.to_s(:short)})"
  =form_tag sendto_tomatoes_path, method: :put do
    =t("helpers.links.send")+":"
    =hidden_field_tag :move_type_id, @move_type.id
    =hidden_field_tag :project_id, @project.id
    =submit_tag t("moves.links.todotoday"), :name=> "move_to_today", :class => 'btn btn-mini'
    =submit_tag t("moves.links.activityinventory"), :name=> "move_to_act_inv", :class => 'btn btn-mini'


    %br
    %br
    %table.table.table-striped
      %tr
        %th{:width => "30px;"}
        %th{:width => "50px;"}
        %th{:width => "200px;"} Title
        %th{:width => "100px;"} Owner
        %th{:width => "80px;"} Publish date

      - if @actual_sprint_tomatoes.present?
        - @actual_sprint_tomatoes.each do |tomato|
          %tr
            %td= check_box_tag "tomato_ids[]", tomato.id
            %td
              = image_tag(tomato_icon_path(tomato), :width => 20, :height => 20)
            %td= link_to create_title(tomato.move), tomato.move if tomato.move.present?
            %td= tomato.user.name
            %td= tomato.publish_date.to_s(:short) unless tomato.publish_date == nil

  %hr

-elsif @project.has_make_my_sprint()
  .row
    .col-md-3
      %h5= t("moves.links.nocurrentsprint").upcase
    .col-md-2
      = link_to t("moves.links.newsprint"), new_move_path(project_id: @project.id, move_type: @move_type.id, make_my_sprint: true), :class => 'btn btn-warning',:style=> 'float: right;'
  %hr



%h5= t("moves.links.activityinventory").upcase
=form_tag sendto_tomatoes_path, method: :put do
  =t("helpers.links.send")+":"
  =hidden_field_tag :move_type_id, @move_type.id
  =hidden_field_tag :project_id, @project.id
  =submit_tag t("moves.links.todotoday"), :name=> "move_to_today", :class => 'btn btn-mini'
  =submit_tag t("moves.links.currentsprint"), :name=> "move_to_cur_sprint", :class => 'btn btn-mini' if @actual_sprint.present?

  %br
  %br
  %table.table.table-striped
    %tr
      %th{:width => "30px;"}
      %th{:width => "50px;"}
      %th{:width => "200px;"} Title
      %th{:width => "100px;"} Owner
      %th{:width => "80px;"} Publish date

    - if  @activity_inventory_tomatoes.present?
      - @activity_inventory_tomatoes.each do |tomato|
        %tr
          %td= check_box_tag "tomato_ids[]", tomato.id
          %td
            = image_tag(tomato_icon_path(tomato), :width => 20, :height => 20)
          %td= link_to create_title(tomato.move), tomato.move if tomato.move.present?
          %td= tomato.user.name
          %td= tomato.publish_date.to_s(:short) unless tomato.publish_date == nil

