
%p{:align => 'right'}
  Team:
  -@project.users.each do |user|
    - if params[:user].to_i == user.id
      = link_to user.name, report_projects_path(:id => @project.id, :user => user.id, :move_type => @move_type, :date => @date), :class => 'btn btn-mini btn-info'
    - else
      = link_to user.name, report_projects_path(:id => @project.id, :user => user.id, :move_type => @move_type, :date => @date), :class => 'btn btn-mini btn'
  - if params[:user] == nil
    = link_to "All", report_projects_path(:id => @project.id, :move_type => @move_type, :date => @date), :class => 'btn btn-mini btn-info'
  - else
    = link_to "All", report_projects_path(:id => @project.id, :move_type => @move_type, :date => @date), :class => 'btn btn-mini btn'


%div#tomatoes
  %h2#month
    = link_to "<", date: @date.prev_month, :id => @project.id, :move_type => @move_type
    = @date.strftime("%B %Y") 
    = link_to ">", date: @date.next_month, :id => @project.id, :move_type => @move_type
  = calendar @date do |date| 
    = date.day
    - if @tomatoes_by_date[date]
      %ul
        -@tomatoes_by_date[date].each do |tomato|
          - if tomato.state == 0 # not planed
            = image_tag("tomategrau.png", :width => 15, :height => 15)
          - elsif tomato.state == 1 #planed
            = image_tag("tomategruen.png", :width => 15, :height => 15)
          - elsif tomato.state == 2 #done
            = image_tag("tomaterot.png", :width => 15, :height => 15)
            
%br
%br
%table.table.table-striped
  %tr
    %th{:width => "60px;"} Rating
    %th{:width => "250px;"} Title
    %th{:width => "100px;"} Owner
    %th{:width => "120px;"} Publish date
    %th{:width => "20px;"}
    %th{:width => "20px;"}

  -@tomatoes.each do |tomato|
    %tr
      %td
        /tomato state
        - if tomato.state == 0 # not planed
          = image_tag("tomategrau.png", :width => 20, :height => 20)
        - elsif tomato.state == 1 #planed
          = image_tag("tomategruen.png", :width => 20, :height => 20)
        - elsif tomato.state == 2 #done
          = image_tag("tomaterot.png", :width => 20, :height => 20)
        /thumbs
        - if tomato.rating != nil 
          -if tomato.rating.thumb_rating > 0
            = image_tag("daumenhoch.png", :width => 20, :height => 20)
          -else
            = image_tag("daumenrunter.png", :width => 20, :height => 20)
        - else 
          = image_tag("bewerten.png", :width => 20, :height => 20)
        /stars
        - if tomato.rating != nil 
          -if tomato.rating.star_rating > 0
            = tomato.rating.star_rating
            = image_tag("star.png", :width => 20, :height => 20)
      %td= link_to tomato.title, tomato
      %td= tomato.user.name if tomato.user.present?
      %td= tomato.publish_date.to_s(:short) unless tomato.publish_date == nil
      %td
        = link_to t("helpers.links.edit"), edit_tomato_path(tomato), :class => 'btn btn-mini' if (tomato.user == current_user) || (current_user.has_role? :admin)

      %td
        = link_to t("helpers.links.destroy"), tomato, :method => :delete, :data => { :confirm => t("helpers.links.confirm")}, :class => 'btn btn-mini btn-danger' if (tomato.user == current_user) || (current_user.has_role? :admin)

/admin Abfrage ergänzen ToDo
