%table.table.table-striped
  %tr
    %th{:width => "70px;"} Rating
    %th{:width => "140px;"} Title
    %th{:width => "80px;"} Owner
    %th{:width => "80px;"} Category
    %th{:width => "80px;"} Publish Date
    %th{:width => "40px;"}


  - @moves.each do |move|
    -if move.move_type != nil  && move.move_type.star_rating
      %tr
        %td
          = "#{move.stars}"
          = image_tag("star.png", :width => 15, :height => 15)
          ="/ #{move.ratings.count} votes"
          -if move.rejects > 0
            = move.rejects
            = image_tag("daumenrunter.png", :width => 15, :height => 15)

        %td
          -if move.state.present? && move.state.closed
            %strike
              = link_to create_title(move), move
          -else
            = link_to create_title(move), move

        %td= move.user.name
        %td= move.category.title if move.category.present?
        %td= move.publish_date.to_s(:short) unless move.publish_date == nil
        %td
          -if move.state.present? && move.state.closed
            =link_to t("helpers.links.closed"), "#", :class => 'btn btn-mini btn-danger', :disabled => true

    -elsif move.move_type != nil  && move.move_type.thumb_rating
      %tr
        %td
          -if move.thumbs_down > 0
            = move.thumbs_down
            = image_tag("daumenrunter.png", :width => 15, :height => 15)
          -if move.thumbs_up > 0
            = move.thumbs_up
            = image_tag("daumenhoch.png", :width => 15, :height => 15)
          -if move.comments > 0
            = move.comments
            = image_tag("kommentar.gif", :width => 15, :height => 15)

        %td
          -if move.state.present? && move.state.closed
            %strike
              = link_to create_title(move), move
          -else
            = link_to create_title(move), move
        %td= move.user.name
        %td= move.category.title if move.category.present?
        %td= move.publish_date.to_s(:short) unless move.publish_date == nil
        %td
          -if move.state.present? && move.state.closed
            =link_to t("helpers.links.closed"), "#", :class => 'btn btn-mini btn-danger', :disabled => true


