
.row
  .span6
    /%h4 Tomatoes Report
  .span5
    %p
      Team:
      -@project.users.each do |user|
        = link_to user.name, report_projects_path(:id => @project.id, :user => user.id, :move_type => @move_type, :date => @date), :class => 'btn btn-mini btn-info'
      = link_to "All", report_projects_path(:id => @project.id, :date => @date), :class => 'btn btn-mini btn-info :active'
    %p

%hr


%div#tomatoes
  %h2#month
    = link_to "<", date: @date.prev_month, :id => @project.id
    = @date.strftime("%B %Y") 
    = link_to ">", date: @date.next_month, :id => @project.id
  = calendar @date do |date| 
    = date.day
    - if @tomatoes_by_date[date]
      %ul
        -@tomatoes_by_date[date].each do |tomato|
          - if tomato.state == 0 # not planed
            = image_tag("tomategrau.png", :width => 15, :height => 15)
          - elsif tomato.state == 1 #planed
            = image_tag("tomategruen.png", :width => 15, :height => 15)
          - elsif tomato.state == 2 #done
            = image_tag("tomaterot.png", :width => 15, :height => 15)