%table.table.table-striped
  %tr
    %th{:width => "100px;"} Stars
    %th{:width => "300px;"} Title
    %th{:width => "100px;"} Owner
    %th{:width => "200px;"} Team
    %th{:width => "80px;"} Publish date

  - @ideas.each do |move|
    %tr
      %td
        -total=0;
        -count = move.ratings.count
        -if move.move_type.star_rating
          -move.ratings.each do |rating|
            -total = total + rating.star_rating unless rating.star_rating == nil 
        ="#{total} Stars"
            
      %td= link_to move.title, move
      %td= move.user.name
      %td
        -move.users.each do |reviewer|
          = reviewer.name
      %td= move.publish_date.to_s(:short) unless move.publish_date == nil
