
%p{:align => 'right'}
  Team:
  -@project.users.each do |user|
    - if params[:user].to_i == user.id
      = link_to user.name, report_projects_path(:id => @project.id, :user => user.id, :move_type => @move_type, :date => @date), :class => 'btn btn-mini btn-info'
    - else
      = link_to user.name, report_projects_path(:id => @project.id, :user => user.id, :move_type => @move_type, :date => @date), :class => 'btn btn-mini btn'
  - if params[:user] == nil
    = link_to "All", report_projects_path(:id => @project.id, :move_type => @move_type, :date => @date), :class => 'btn btn-mini btn-info'
  - else
    = link_to "All", report_projects_path(:id => @project.id, :move_type => @move_type, :date => @date), :class => 'btn btn-mini btn'


%div#tomatoes
  %h2#month
    = link_to "<", date: @date.prev_month, :id => @project.id, :move_type => @move_type
    = @date.strftime("%B %Y") 
    = link_to ">", date: @date.next_month, :id => @project.id, :move_type => @move_type
  = calendar @date do |date| 
    = date.day
    - if @moves_by_date[date]
      %ul
        -@moves_by_date[date].each do |move|
          -if move.tomatoes.present?
            -move.tomatoes.each do |tomato|
              - if tomato.state == 0 # not planed
                =link_to image_tag("tomategrau.png", :width => 15, :height => 15), move_path(tomato.move)
              - elsif tomato.state == 1 #planed
                =link_to  image_tag("tomategruen.png", :width => 15, :height => 15), move_path(tomato.move)
              - elsif tomato.state == 2 #done
                = link_to image_tag("tomaterot.png", :width => 15, :height => 15 ), move_path(tomato.move)
            
%br
%br
%table.table.table-striped
  %tr
    %th{:width => "100px;"} Rating
    %th{:width => "150px;"} Title
    %th{:width => "80px;"} Owner
    %th{:width => "100px;"} Team
    %th{:width => "80px;"} Publish date

  -@moves.each do |move|
    -if move.tomatoes.present?
      %tr
        %td
          /thumbs
          - if move.ratings.present?
            -if move.thumbs_down > 0
              = image_tag("daumenrunter.png", :width => 20, :height => 20)
            -elsif move.thumbs_up > 0
              = image_tag("daumenrunter.png", :width => 20, :height => 20)
          - else
            = image_tag("bewerten.png", :width => 20, :height => 20)
          /stars
          - if move.ratings.present?
            -if move.stars > 0
              = "#{move.stars}"
              = image_tag("star.png", :width => 15, :height => 15)
              ="/ #{move.ratings.count} votes"
        %td= link_to move.title, move
        %td= move.user.name if move.user.present?
        %td
          -move.users.each do |user|
            =user.name+ " "
        %td= move.publish_date.to_s(:short) unless move.publish_date == nil
