
%p{:align => 'right'}
  Team:
  -@project.users.each do |user|
    - if params[:user].to_i == user.id
      = link_to user.name, report_projects_path(:id => @project.id, :user => user.id, :move_type => @move_type, :date => @date), :class => 'btn btn-mini btn-info'
    - else
      = link_to user.name, report_projects_path(:id => @project.id, :user => user.id, :move_type => @move_type, :date => @date), :class => 'btn btn-mini btn'
  - if params[:user] == nil
    = link_to "All", report_projects_path(:id => @project.id, :move_type => @move_type, :date => @date), :class => 'btn btn-mini btn-info'
  - else
    = link_to "All", report_projects_path(:id => @project.id, :move_type => @move_type, :date => @date), :class => 'btn btn-mini btn'


%div#tomatoes
  %h2#month
    = link_to "<", date: @date.prev_month, :id => @project.id, :move_type => @move_type
    = @date.strftime("%B %Y") 
    = link_to ">", date: @date.next_month, :id => @project.id, :move_type => @move_type
  = calendar @date do |date| 
    = date.day
    - if @tomatoes_by_date[date]
      %ul
        -@tomatoes_by_date[date].each do |tomato|
          = image_tag(tomato_icon_path(tomato), :width => 15, :height => 15)

%table.table.table-striped
  %tr
    %th{:width => "40px;"}
    %th{:width => "150px;"} Title
    %th{:width => "80px;"} Owner
    %th{:width => "100px;"} Team
    %th{:width => "80px;"} Publish date

  -@moves.each do |move|
    -if (move.tomatoes.present? || move.move_type.make_my_sprint || move.move_type.make_my_day)
      %tr
        %td
          /tomatoes
          - if move.tomatoes.count > 0
            - move.tomatoes.each do |tomato|
              = image_tag(tomato_icon_path(tomato), :width => 20, :height => 20)
          -elsif move.move_type.make_my_day
            = image_tag("todo_today.gif", :width => 25, :height => 25)
          -elsif move.move_type.make_my_sprint
            = image_tag("sprint.gif", :width => 25, :height => 25)
          - if (current_user.has_role? :admin) && !move.reviewed_by_me(current_user)
            = image_tag("bewerten.png", :width => 20, :height => 20)

        %td= link_to move.title, move
        %td= move.user.name if move.user.present?
        %td
          -move.users.each do |user|
            =user.name+ " "
        %td
          -if move.move_type.make_my_sprint && move.publish_date.present? && move.start_date.present?
            = move.start_date.to_s(:short)
            = " - "
            = move.publish_date.to_s(:short)
          -elsif move.publish_date.present?
            = move.publish_date.to_s(:short)
