%table.table.table-striped
  %tr
    %th{:width => "100px;"} Stars
    %th{:width => "300px;"} Title
    %th{:width => "100px;"} Owner
    %th{:width => "80px;"} Publish date

  - @star_moves.each do |move|
    %tr
      %td
        =move.stars
        = image_tag("star.png", :width => 15, :height => 15)
        -if move.rejects > 0
          = move.rejects 
          = image_tag("daumenrunter.png", :width => 15, :height => 15)
        
      %td= link_to move.title, move
      %td= move.user.name
      %td= move.publish_date.to_s(:short) unless move.publish_date == nil
