%table.table.table-striped
  %tr
    %th{:width => "100px;"} Stars
    %th{:width => "300px;"} Title
    %th{:width => "100px;"} Owner
    %th{:width => "200px;"} Move Type
    %th{:width => "80px;"} Publish date

  - @star_moves.each do |move|
    %tr
      %td="#{move.stars} Stars"
      %td= link_to move.title, move
      %td= move.user.name
      %td= link_to move.move_type.title, report_projects_path(:id=> @project.id, :move_type => move.move_type.id, :user => @user), :class => 'btn btn-mini btn-info :active' unless move.move_type == nil
      %td= move.publish_date.to_s(:short) unless move.publish_date == nil
