
%p{:align => 'right'}
  Team:
  -@project.users.each do |user|
    - if params[:user].to_i == user.id
      = link_to user.name, report_projects_path(:id => @project.id, :user => user.id, :move_type => @move_type, :date => @date), :class => 'btn btn-mini btn-info'
    - else
      = link_to user.name, report_projects_path(:id => @project.id, :user => user.id, :move_type => @move_type, :date => @date), :class => 'btn btn-mini btn'
  - if params[:user] == nil
    = link_to "All", report_projects_path(:id => @project.id, :move_type => @move_type, :date => @date), :class => 'btn btn-mini btn-info'
  - else
    = link_to "All", report_projects_path(:id => @project.id, :move_type => @move_type, :date => @date), :class => 'btn btn-mini btn'


%div#tomatoes
  %h2#month
    = link_to "<", date: @date.prev_month, :id => @project.id, :move_type => @move_type
    = @date.strftime("%B %Y") 
    = link_to ">", date: @date.next_month, :id => @project.id, :move_type => @move_type
  = calendar @date do |date| 
    = date.day
    - if @moves_by_date[date]
      %ul
        -@moves_by_date[date].each do |move|
          -if move.tomatoes.present?
            -tomato = move.tomatoes.first
            - if tomato.state == 0 # not planed
              =link_to image_tag("tomategrau.png", :width => 15, :height => 15), move_path(tomato.move)
            - elsif tomato.state == 1 #planed
              =link_to  image_tag("tomategruen.png", :width => 15, :height => 15), move_path(tomato.move)
            - elsif tomato.state == 2 #done
              = link_to image_tag("tomaterot.png", :width => 15, :height => 15 ), move_path(tomato.move)
            
%br
%br
%table.table.table-striped
  %tr
    %th{:width => "60px;"} Rating
    %th{:width => "150px;"} Title
    %th{:width => "80px;"} Owner
    %th{:width => "150px;"} Team
    %th{:width => "80px;"} Move type
    %th{:width => "80px;"} Publish date

  -@moves.each do |move|
    -if move.tomatoes.present?
      -tomato = move.tomatoes.first
      %tr
        %td
          /tomato state
          - if tomato.state == 0 # not planed
            = image_tag("tomategrau.png", :width => 20, :height => 20)
          - elsif tomato.state == 1 #planed
            = image_tag("tomategruen.png", :width => 20, :height => 20)
          - elsif tomato.state == 2 #done
            = image_tag("tomaterot.png", :width => 20, :height => 20)
          /thumbs
          - if tomato.rating != nil
            -if tomato.rating.thumb_rating > 0
              = image_tag("daumenhoch.png", :width => 20, :height => 20)
            -else
              = image_tag("daumenrunter.png", :width => 20, :height => 20)
          - else
            = image_tag("bewerten.png", :width => 20, :height => 20)
          /stars
          - if tomato.rating != nil
            -if tomato.rating.star_rating > 0
              = tomato.rating.star_rating
              = image_tag("star.png", :width => 20, :height => 20)
        %td= link_to tomato.title, tomato.move
        %td= tomato.user.name if tomato.user.present?
        %td
          -tomato.move.users.each do |user|
            =user.name+ " "
        %td= tomato.move.move_type.title if tomato.move.move_type.present?
        %td= tomato.publish_date.to_s(:short) unless tomato.publish_date == nil
