%table.table.table-striped
  %tr
    %th{:width => "80px;"}
    %th{:width => "150px;"} Title
    %th{:width => "80px;"} Owner
    %th{:width => "100px;"} Team
    %th{:width => "80px;"} Publish date

  -@moves.each do |move|
    -if (move.tomatoes.present? || move.move_type.make_my_sprint || move.move_type.make_my_day) && !move.reviewed_by_me(current_user)
      %tr
        %td
          /tomatoes
          - move.tomatoes.each do |tomato|
            = image_tag(tomato_icon_path(tomato), :width => 15, :height => 15)
        %td= link_to move.title, move
        %td= move.user.name if move.user.present?
        %td
          -move.users.each do |user|
            =user.name+ " "
        %td
          -if move.move_type.make_my_sprint && move.publish_date.present? && move.start_date.present?
            = move.start_date.to_s(:short)
            = " - "
            = move.publish_date.to_s(:short)
          -elsif move.publish_date.present?
            = move.publish_date.to_s(:short)
