%table.table.table-striped
  %tr
    %th{:width => "100px;"}
    %th{:width => "300px;"} Title
    %th{:width => "100px;"} Owner
    %th{:width => "200px;"} Team
    %th{:width => "150px;"} Move type
    %th{:width => "80px;"} Publish date
    %th{:width => "30px;"}
    %th{:width => "30px;"}

  - @moves.each do |move|
    -reviewed_by_me=0;
    -if move.move_type != nil  && move.move_type.star_rating
      -move.ratings.each do |rating|
        -if rating.user == current_user && rating.star_rating > 0
          -reviewed_by_me = rating.star_rating
    -elsif move.move_type != nil  && move.move_type.thumb_rating
      -move.ratings.each do |rating|
        -if rating.user == current_user && rating.thumb_rating > 0
          -reviewed_by_me = rating.thumb_rating
    
    -if reviewed_by_me <= 0 && move.user != current_user
      %tr
        %td
          =image_tag("bewerten.png", :width => 25, :height => 25)
        %td= link_to move.title, move
        %td= move.user.name
        %td
          -move.users.each do |reviewer|
            = reviewer.name
        %td= link_to move.move_type.title, work_projects_path(id: @project.id, :move_type => move.move_type.id, :user => @user), :class => 'btn btn-mini btn-info :active' unless move.move_type == nil
        %td= move.publish_date.to_s(:short) unless move.publish_date == nil
        %td= link_to 'Edit', edit_move_path(move), :class => 'btn btn-mini'
        %td= link_to 'X', move_path(move), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

%br