%table.table.table-striped
  %tr
    %th{:width => "20px;"}
    %th{:width => "80px;"}
    %th{:width => "150px;"} Title
    %th{:width => "80px;"} Owner
    %th{:width => "100px;"} Team
    %th{:width => "80px;"} Publish date

  -@moves.each do |move|
    -if move.tomatoes.present?
      %tr
        %td
          /rating
          - if !move.ratings.present?
            = image_tag("bewerten.png", :width => 20, :height => 20)
        %td
          /tomatoes
          - move.tomatoes.each do |tomato|
            - if tomato.state == 1 #planed
              =image_tag("tomategruen.png", :width => 15, :height => 15)
            - elsif tomato.state == 2 #done
              = image_tag("tomaterot.png", :width => 15, :height => 15 )
            - else
              =image_tag("tomategrau.png", :width => 15, :height => 15)

        %td= link_to move.title, move
        %td= move.user.name if move.user.present?
        %td
          -move.users.each do |user|
            =user.name+ " "
        %td= move.publish_date.to_s(:short) unless move.publish_date == nil
