-if @project.certifications.present? && @review_moves.present?
  %hr

  %h4=t("moves.peer_review")

  %table.table.table-striped
    %tr
      %th{:width => "40px;"}
      %th{:width => "200px;"}= t("simple_form.labels.certification.title")
      %th{:width => "100px;"}= t("simple_form.labels.registration.user_id")
      %th{:width => "200px;"}= t("simple_form.labels.registration.user_ids")
      %th{:width => "80px;"}= t("simple_form.labels.registration.end_date")
      %th{:width => "40px;"}= t("helpers.actions")

    - @review_moves.each do |move|
      %tr
        %td
          /rating
          = image_tag(get_move_icon(move), :width => 25, :height => 25)
        %td= link_to create_title(move), move
        %td= move.user.name
        %td
          -move.registration.users.each do |reviewer|
            = reviewer.name
        %td= move.publish_date.to_s(:short) unless move.publish_date == nil
        %td

  %br