.row
  .col-md-8
    .page-header
      %h3=t("navigation.certifications")

.row
  .col-md-12
    %table.table.table-striped
      %thead
        %tr
          %th
          %th= t("simple_form.labels.certification.title")
          %th= t("simple_form.labels.certification.label")
          %th= t("simple_form.labels.registration.user_id")
          %th= t("simple_form.labels.registration.user_ids")
          %td= t("simple_form.labels.certification.duration")
          %th= t '.actions', :default => t("simple_form.labels.certification.progress")
      %tbody
        - @certifications.each do |certification|
          -my_registration = certification.get_registration(current_user)
          %tr
            %td
            %td
              -if my_registration.present?
                = link_to certification.title, registration_path(my_registration, project_id: @project.id)
              -else
                = link_to certification.title, certification_path(certification, project_id: @project.id)
            %td= "#{certification.label} (#{get_level_title(certification.level_id)})"

            %td= my_registration.user.name if my_registration.present?
            %td
              -if my_registration.present?
                -my_registration.users.each do |user|
                  = user.name + "- "
            %td="#{my_registration.start_date.to_s(:short)} - #{my_registration.end_date.to_s(:short)}" if my_registration.present? && my_registration.end_date.present?
            %td

              -if my_registration.present?
                .progress
                  .progress-bar.progress-bar-success{:role=>"progressbar", "aria-valuenow"=>"#{my_registration.approved_moves.count}", "aria-valuemin"=>"0", "aria-valuemax"=>"#{certification.moves_number}", "style"=>"width: #{get_progressbar_width(my_registration)}%;"}
                    =my_registration.moves.count
                  %p{:style => 'float: right;'}
                    =certification.moves_number if certification.moves_number.present?
              -else
                = link_to t("helpers.links.registrate"), new_registration_path(certification_id: certification.id, project_id: @project.id), :class => 'btn btn-primary btn-mini'


