.row
  .col-md-8
    .page-header
      %h3=t("navigation.certifications")

.row
  .col-md-12
    %table.table.table-striped
      %thead
        %tr
          %th
          %th= t("simple_form.labels.certification.title")
          %th= t("simple_form.labels.certification.label")
          %th= t("simple_form.labels.inscription.user_id")
          %th= t("simple_form.labels.inscription.user_ids")
          %td= t("simple_form.labels.certification.duration")
          %th= t '.actions', :default => t("simple_form.labels.certification.progress")
      %tbody
        - @certifications.each do |certification|
          -my_inscription = certification.get_inscription(current_user)
          %tr
            %td
            %td
              -if my_inscription.present?
                = link_to certification.title, inscription_path(my_inscription, project_id: @project.id)
              -else
                = link_to certification.title, certification_path(certification, project_id: @project.id)
            %td= "#{certification.label} (#{get_level_title(certification.level_id)})"

            %td= my_inscription.user.name if my_inscription.present?
            %td
              -if my_inscription.present?
                -my_inscription.users.each do |user|
                  = user.name + "- "
            %td="#{my_inscription.start_date.to_s(:short)} - #{my_inscription.end_date.to_s(:short)}" if my_inscription.present? && my_inscription.end_date.present?
            %td

              -if my_inscription.present?
                .progress
                  .progress-bar.progress-bar-success{:role=>"progressbar", "aria-valuenow"=>"#{my_inscription.approved_moves.count}", "aria-valuemin"=>"0", "aria-valuemax"=>"#{certification.moves_number}", "style"=>"width: #{get_progressbar_width(my_inscription)}%;"}
                    -if my_inscription.completed
                      =t("simple_form.labels.inscription.completed")
                    -else
                      =my_inscription.approved_moves.count
                  %p{:style => 'float: right;'}
                    =certification.moves_number if certification.moves_number.present?
              -else
                = link_to t("helpers.links.registrate"), new_inscription_path(certification_id: certification.id, project_id: @project.id), :class => 'btn btn-primary btn-mini'


