- model_class = Project
.page-header
  %h1=t "projects.header"
%table.table.table-striped
  %thead
    %tr
      %th
      %th=t "projects.title"
      %th=t "projects.team"
      %th=t "projects.actions"
  %tbody
    - @projects.each do |project|
      %tr
        %td
        %td= link_to project.title, work_projects_path(id: project.id)
        %td
          -project.users.each do |user|
            = user.name
        %td
          = link_to t("helpers.links.admin"), project_path(project), :class => 'btn btn-mini'
          = link_to t("helpers.links.edit"), edit_project_path(project), :class => 'btn btn-mini'
          = link_to t("helpers.links.destroy"), project_path(project), :method => :delete, :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn btn-mini btn-danger'

= link_to t("helpers.links.new"), new_project_path, :class => 'btn btn-primary'
