= simple_form_for @certification, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :label
  = f.input :level_id, :collection => [["Apprentice", 1], ["Journeyman", 2], ["Master", 3]], :as => :radio_buttons
  = f.input :description
  = f.association :user
  = f.association :move_type
  = f.input :approvements
  = f.input :moves_number
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), certifications_path, :class => 'btn btn-default'
