= simple_form_for @certification, :html => { :class => 'form-horizontal' } do |f|
  .row
    .col-md-5
      = f.input :title, input_html: {style: 'width:300px;height:30px;'}
      = f.input :label, input_html: {style: 'width:300px;height:30px;'}
      = f.input :level_id, :collection => [["Apprentice", 1], ["Journeyman", 2], ["Master", 3]], :as => :radio_buttons, :checked => 1

      .panel.panel-default
        .panel-heading
          %h7.panel-title= t("simple_form.labels.certification.conditions")
        .panel-body
          = f.association :move_type
          -if @certification.new_record?
            = f.input :approvements, input_html: {style: 'width:50px;height:30px;', :value => 3}
            = f.input :moves_number, input_html: {style: 'width:50px;height:30px;', :value => 10}
          -else
            = f.input :moves_number, input_html: {style: 'width:50px;height:30px;'}
            = f.input :approvements, input_html: {style: 'width:50px;height:30px;'}

    .col-md-7
      = f.association :user
      = f.input :description, :as => :ckeditor
  %hr
  .row
    = f.button :submit, :class => 'btn-primary', :style=> 'float: right;;margin-left:1.4em;'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), certifications_path, :class => 'btn btn-default', :style=> 'float: right;'
