.panel.panel-info
  .panel-heading
    %h3= @certification.label + ": " + @certification.title
  .panel-body
    .row
      .span7
        %p
          - if (current_user.has_role? :admin) || (current_user.id == @certification.user_id)
            = link_to t("helpers.links.edit"), edit_certification_path(@certification), :class => 'btn'
            -if @project.present?
              = link_to t("helpers.links.back"), certificate_projects_path(id: @project.id), :class => 'btn'
            -else
              = link_to t("helpers.links.back"), certifications_path, :class => 'btn'
        %br
        %p
          %strong=t("simple_form.labels.certification.description") + ": "
          %i
            =raw(@certification.description)
      .span4
        %p
          %strong=t("simple_form.labels.certification.user") + ": "
          ="#{@certification.user.name}" if @certification.user.present?
        %p
          %strong=t("simple_form.labels.certification.move_type") + ": "
          ="#{@certification.move_type.title}" if @certification.move_type.present?
        %p
          %strong=t("simple_form.labels.certification.moves_number") + ": "
          =@certification.moves_number if @certification.moves_number.present?
        %p
          %strong=t("simple_form.labels.certification.approvements") + ": "
          =@certification.approvements if @certification.approvements.present?


.panel.panel-default
  .panel-heading
    %h4= t("simple_form.labels.inscriptions")
  .panel-body
    %table.table.table-striped
      %thead
        %tr
          %th
          %th= t("simple_form.labels.inscription.user_id")
          %th= t("simple_form.labels.inscription.start_date")
          %th= t("simple_form.labels.inscription.end_date")
          %th= t("simple_form.labels.inscription.progress")
          %th=t '.actions', :default => t("helpers.actions")
      %tbody
        - @certification.inscriptions.each do |inscription|
          %tr
            %td
            %td
              -if @project.present?
                = link_to inscription.user.name, inscription_path(inscription, project_id: @project.id)
              -else
                = link_to inscription.user.name, inscription_path(inscription)
            %td= inscription.start_date.to_s(:short) if inscription.start_date.present?
            %td= inscription.end_date.to_s(:short) if inscription.end_date.present?
            %td
              .progress
                .progress-bar.progress-bar-success{:role=>"progressbar", "aria-valuenow"=>"#{inscription.moves.count}", "aria-valuemin"=>"0", "aria-valuemax"=>"#{@certification.moves_number}", "style"=>"width: #{get_progressbar_width(inscription)}%;"}
                  =inscription.moves.count
                %p{:style => 'float: right;'}
                  =@certification.moves_number if @certification.moves_number.present?
            %td
              = link_to t('.edit', :default => t("helpers.links.edit")), edit_inscription_path(inscription), :class => 'btn btn-default btn-mini'
              = link_to t('.destroy', :default => t("helpers.links.destroy")), inscription_path(inscription), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

    -if !@certification.get_inscription(current_user).present? || (current_user.has_role? :admin)
      = link_to t("helpers.links.registrate"), new_inscription_path(certification_id: @certification.id), :class => 'btn btn-primary'

