- model_class = Capacity
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
  
= link_to t("capacities.newcapacity"), new_capacity_path, id: "new_link", remote: true

%br
%br

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:tomatoes_capacity)
      %th= model_class.human_attribute_name(:publish_date)
      %th= model_class.human_attribute_name(:user_id)
      %th=t("helpers.actions")
  %tbody
    - @capacities.each do |capacity|
      %tr
        %td= link_to capacity.id, capacity_path(capacity)
        %td= capacity.tomatoes_capacity
        %td= capacity.publish_date
        %td= capacity.user.name
        %td
          = link_to t("helpers.links.edit"), edit_capacity_path(capacity), :class => 'btn btn-mini'
          = link_to t("helpers.links.destroy"), capacity_path(capacity), :method => :delete, :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn btn-mini btn-danger'
