
- model_class = Medium
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

= link_to t('.new', :default => t("helpers.links.new")), new_medium_path, :class => 'btn btn-primary'

%h5= t("media.link.current").upcase
=form_tag sendto_media_path, method: :put do
  =t("helpers.links.send")+":"
  =submit_tag t("media.link.partially"), :name=> "move_to_partial", :class => 'btn btn-mini'
  =submit_tag t("media.link.ready"), :name=> "move_to_ready", :class => 'btn btn-mini'

  %table.table.table-striped
    %thead
      %tr
        %th
        %th= model_class.human_attribute_name(:title)
        %th= model_class.human_attribute_name(:artist)
        %th= model_class.human_attribute_name(:composer)
        %th= model_class.human_attribute_name(:arranger)
        %th= model_class.human_attribute_name(:writer)
        %th= model_class.human_attribute_name(:catalog)
        %th= model_class.human_attribute_name(:publisher)
        %th= "Signature"
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      = render :partial => 'medium', :collection => @media_current

%br


%h5= t("media.link.partially").upcase
=form_tag sendto_media_path, method: :put do
  =t("helpers.links.send")+":"
  =submit_tag t("media.link.current"), :name=> "move_to_current", :class => 'btn btn-mini'
  =submit_tag t("media.link.ready"), :name=> "move_to_ready", :class => 'btn btn-mini'

  %table.table.table-striped
    %thead
      %tr
        %th
        %th= model_class.human_attribute_name(:title)
        %th= model_class.human_attribute_name(:artist)
        %th= model_class.human_attribute_name(:composer)
        %th= model_class.human_attribute_name(:arranger)
        %th= model_class.human_attribute_name(:writer)
        %th= model_class.human_attribute_name(:catalog)
        %th= model_class.human_attribute_name(:publisher)
        %th= "Signature"
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      = render :partial => 'medium', :collection => @media_partial

%br

%h5= t("media.link.ready").upcase
=form_tag sendto_media_path, method: :put do
  =t("helpers.links.send")+":"
  =submit_tag t("media.link.partially"), :name=> "move_to_partial", :class => 'btn btn-mini'
  =submit_tag t("media.link.current"), :name=> "move_to_current", :class => 'btn btn-mini'

  %table.table.table-striped
    %thead
      %tr
        %th
        %th= model_class.human_attribute_name(:title)
        %th= model_class.human_attribute_name(:artist)
        %th= model_class.human_attribute_name(:composer)
        %th= model_class.human_attribute_name(:arranger)
        %th= model_class.human_attribute_name(:writer)
        %th= model_class.human_attribute_name(:catalog)
        %th= model_class.human_attribute_name(:publisher)
        %th= "Signature"
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      = render :partial => 'medium', :collection => @media_ready


= link_to t('.new', :default => t("helpers.links.new")), new_medium_path, :class => 'btn btn-primary'
