%h1 Listing interruptions

%table
  %tr
    %th Body
    %th Interruption type
    %th User
    %th Tomato
    %th
    %th
    %th

  - @interruptions.each do |interruption|
    %tr
      %td= interruption.body
      %td= interruption.interruption_type
      %td= interruption.user_id
      %td= interruption.tomato_id
      %td= link_to t("helpers.links.show"), interruption
      %td= link_to t("helpers.links.edit"), edit_interruption_path(interruption)
      %td= link_to t("helpers.links.destroy"), interruption, :method => :delete, :data => { :confirm => t("helpers.links.confirm") }

%br

= link_to t("helpers.links.newinterruption"), new_interruption_path
