= simple_form_for @category, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title, input_html: {style: 'height:30px;width: 500px;'}
  = f.input :body, input_html: {style: 'height:200px;width: 500px;'}
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), categories_path, :class => 'btn'
