%h3 Ideas Report

%table.table.table-striped
  %tr
    /%th{:width => "20px;"}
    %th{:width => "100px;"} Stars
    %th{:width => "300px;"} Title
    %th{:width => "100px;"} Owner
    %th{:width => "200px;"} Team
    %th{:width => "150px;"} Project
    %th{:width => "80px;"} Publish date
    /%th{:width => "30px;"}
    /%th{:width => "30px;"}

  - @moves.each do |move|
    %tr
      /%td= check_box_tag "moves_ids[]", move.id
      %td
        -total=0;
        -count = move.ratings.count
        -if move.move_type.star_rating
          -move.ratings.each do |rating|
            -total = total + rating.star_rating unless rating.star_rating == nil 
        ="#{total} Stars"
            
      %td= link_to create_title(move), move
      %td= move.user.name
      %td
        -move.users.each do |reviewer|
          = reviewer.name
      %td
        -if move.project != nil
          =link_to move.project.title, projects_path(id: move.project.id)
        -else
          ="a"
      %td= move.publish_date.to_s(:short) unless move.publish_date == nil
      /%td= link_to 'Edit', edit_move_path(move), :class => 'btn btn-mini'
      /%td= link_to 'X', move_path(move), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'