- if @project.present?
  - page = controller.action_name
  .row
    .col-md-1
    .col-md-5
      %ol.breadcrumb
        %li
          =@project.title
        %li
          - if page == "work"
            =t("projects.work")
          - elsif  page == "report"
            =t("projects.report")
          - elsif  page == "plan"
            =t("projects.plan")
          - elsif  page == "certificate"
            =t("projects.certificate")
          -else
            = page
        %li.active
          -if @move_type.present?
            = @move_type.title
          -else
            ="All"

    .col-md-2
      .btn-group
        %button.btn.btn-primary.dropdown-toggle{:type=>"button", "data-toggle"=>"dropdown"}
          = t("projects.newmove")
          %b.caret
        %ul.dropdown-menu{:role=>"menu"}
          -@project.move_types.each do |move_type|
            %li
              %p
                = image_tag(get_move_icon_by_move_type(move_type), :width => 20, :height => 20)
                = link_to move_type.title, new_move_path(project_id: @project.id, move_type: move_type.id)

    .col-md-4
      - if page == "work"
        .btn-group
          = link_to t("projects.plan"), plan_projects_path(id: @project.id, date: @date, move_type: @move_type_id), :class => "btn btn-default" if has_plan_view(@project)
          = link_to t("projects.work"), work_projects_path(id: @project.id, date: @date, move_type: @move_type_id), :class => "btn btn-default active"
          = link_to t("projects.report"), report_projects_path(id: @project.id, move_type: @move_type_id), :class=> "btn btn-default"
          = link_to t("projects.certificate"), certificate_projects_path(id: @project.id, move_type: @move_type_id), :class=> "btn btn-default" if @project.certifications.present?

      -elsif page == "report"
        .btn-group
          = link_to t("projects.plan"), plan_projects_path(id: @project.id, date: @date, move_type: @move_type_id), :class => "btn btn-default" if has_plan_view(@project)
          = link_to t("projects.work"), work_projects_path(id: @project.id, date: @date, move_type: @move_type_id), :class => "btn btn-default"
          = link_to t("projects.report"), report_projects_path(id: @project.id, move_type: @move_type_id), :class=> "btn btn-default active"
          = link_to t("projects.certificate"), certificate_projects_path(id: @project.id, move_type: @move_type_id), :class=> "btn btn-default" if @project.certifications.present?
      -elsif page == "plan"
        .btn-group
          = link_to t("projects.plan"), plan_projects_path(id: @project.id, date: @date, move_type: @move_type_id), :class => "btn btn-default active" if has_plan_view(@project)
          = link_to t("projects.work"), work_projects_path(id: @project.id, date: @date, move_type: @move_type_id), :class => "btn btn-default"
          = link_to t("projects.report"), report_projects_path(id: @project.id, move_type: @move_type_id), :class=> "btn btn-default"
          = link_to t("projects.certificate"), certificate_projects_path(id: @project.id, move_type: @move_type_id), :class=> "btn btn-default" if @project.certifications.present?
      -elsif page == "certificate"
        .btn-group
          = link_to t("projects.plan"), plan_projects_path(id: @project.id, date: @date), :class => "btn btn-default" if has_plan_view(@project)
          = link_to t("projects.work"), work_projects_path(id: @project.id, date: @date), :class => "btn btn-default"
          = link_to t("projects.report"), report_projects_path(id: @project.id), :class=> "btn btn-default"
          = link_to t("projects.certificate"), certificate_projects_path(id: @project.id), :class=> "btn btn-default active" if @project.certifications.present?


