/ add navigation links to this file
- if user_signed_in?
  = drop_down t("navigation.projects") do
    -Project.all.each do |project|
      = menu_item project.title, project_path(project)

  = drop_down t("navigation.moves") do
    = menu_item t("projects.newmove"), new_move_path
    = menu_item "#{t('live_tomato.livelist')} #{image_tag('new_window.png', :size => '12x12')}".html_safe, live_tomatoes_path, :target => "_blank"


- if user_signed_in?
  = drop_down current_user.name do
    = menu_item t("user.edit"), edit_user_registration_path
    = menu_item t("navigation.logout"), destroy_user_session_path, :method=>'delete'

-else
  %li= link_to t("navigation.login"), new_user_session_path
  %li= link_to 'Sign up', new_user_registration_path
- if (current_user != nil) && (current_user.has_role? :admin)
  = drop_down t("navigation.administration") do
    = menu_item t("navigation.users"), users_path
    = menu_item t("navigation.movetypes"), move_types_path
    = menu_item t("navigation.adminlog"), admin_logs_path

-if I18n.locale == :en
  = drop_down t("navigation.english") do
    = menu_item t("navigation.german"), "#"
-else
  = drop_down t("navigation.german") do
    = menu_item t("navigation.english"), "#"
