!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Agile Moves Os'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Agile Moves Os'}"}
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
    = csrf_meta_tags
  %body
    -# application layout styled for Bootstrap 2.3
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer
